<div class="container">
  <ng-container
    *ngIf="certificate$ | observableWithStatus | async as obs"
    [ngSwitch]="obs.status">
    <ng-template [ngSwitchCase]="ObsStatus.Loading">
      <div class="center-block-content pt-5">
        <div class="center-flex-content">
          <mat-spinner></mat-spinner>
        </div>
        <h4 class="text-center mt-4 empty-list-text">Cargando certificado...</h4>
      </div>
    </ng-template>
    <ng-template [ngSwitchCase]="ObsStatus.Success">
      <div *ngIf="obs.value as certificate">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              Certificado N° {{ certificate.id}}
            </mat-card-title>
            <mat-card-subtitle>
              Válido hasta {{ certificate.validity |  date:"MMMM d 'del' y" }}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <app-card-info-item title="Fecha de ejecución de la actividad" icon="today">
              {{ certificate.workOrder.executionDate | date }}
            </app-card-info-item>
            <mat-divider inset></mat-divider>
            <app-card-info-item title="Hora de llegada del técnico" icon="schedule">
              {{ certificate.workOrder.arrivalTime | date: "hh:mm a" }}
            </app-card-info-item>
            <mat-divider inset></mat-divider>
            <app-card-info-item title="Hora de salida del técnico" icon="timer">
              {{ certificate.workOrder.departureTime | date: "hh:mm a" }}
            </app-card-info-item>
            <mat-divider inset></mat-divider>
            <app-card-info-item title="Empleado que generó la orden" icon="engineering">
              {{ certificate.workOrder.employee.firstName }} {{ certificate.workOrder.employee.secondName }}
              {{ certificate.workOrder.employee.lastName }} {{ certificate.workOrder.employee.secondLastName }}
            </app-card-info-item>
            <mat-divider inset></mat-divider>
            <app-card-info-item title="Servicios aplicado" icon="bolt">
              <span *ngFor="let service of certificate.workOrder.activity.services" style="display:block;">
                {{ service.name }}
              </span>
            </app-card-info-item>
            <mat-divider inset></mat-divider>
            <app-card-info-item title="Observaciones" icon="description">
              {{ certificate.workOrder.observations }}
            </app-card-info-item>
            <mat-divider inset></mat-divider>
            <h2 class="mt-3">Firma del cliente</h2>
            <div>
              <img
                src="data:image/png;base64,{{ certificate.workOrder.clientSignature }}"
                alt="Client signature"
              />
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button class="royal_azure">Imprimir certificado</button>
            <button mat-button>Descargar certificado</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-template>
  </ng-container>
</div>
