mat-toolbar {
  margin-bottom: 20px;
}

mat-toolbar.royal_azure a.active {
  background-color: var(--blue_ryb);
}

.spacer {
  flex: 1 1 auto;
}

.nav-main-content {
  display: inline-block;
}

.nav-main-content h2 {
  margin-right: 20px;
  text-align: center;

  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
}

mat-toolbar a, mat-toolbar button {
  color: white !important;
}
