<mat-toolbar class="royal_azure mat-elevation-z6">
  <div class="nav-main-content">
    <h2 routerLink="/">Ecolplag</h2>
    <a mat-button routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      Inicio
    </a>
  </div>
  <div class="spacer"></div>
  <div class="nav-secondaty-content">
    <a mat-button routerLink="/user/register" routerLinkActive="active" *ngIf="!isLogged">Registrarme</a>
    <a mat-button routerLink="/user/login" routerLinkActive="active" *ngIf="!isLogged">Iniciar sesión</a>
    <a mat-button routerLink="/user/profile" routerLinkActive="active" *ngIf="isLogged">Perfil</a>
    <a mat-button (click)="onLogout()" *ngIf="isLogged">Cerrar sesión</a>
  </div>
</mat-toolbar>
