.footer {
  overflow: hidden;
  padding: 20px 10px 10px 10px;
  margin-top: 30px;
}

footer {
  display: block;
  color: white;
}

footer span {
  font-size: 12px;
}

.container {
  margin-top: 0px;
  min-height: auto;
}

.footer-section ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.footer-section ul li {
  margin: 10px 5px;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
  font-size: 12px;
}
