<footer class="footer">
  <div>
    <section class="text-center">
      <h1>Ecolplag S.A.S</h1>
    </section>
    <div class="pr-4 pl-5" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="40px" fxLayoutAlign="flex-start">
      <div fxFlex.xs="12" fxFlex.md="4">
        <div class="footer-section">
          <h2>Acerca de nuestra empresa</h2>
          <ul>
            <li>
              <a routerLink="/about" target="blank">¿Quiénes somos?</a>
            </li>
            <li>
              <a routerLink="/ourservices" target="blank">Nuestros servicios</a>
            </li>
          </ul>
        </div>
      </div>
      <div fxFlex.xs="12" fxFlex.md="4">
        <div class="footer-section">
          <h2>Soporte al cliente</h2>
          <ul>
            <li>
              <a target="blank">Preguntas frecuentes</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <section class="text-center mt-3">
      <a mat-icon-button class="footer-social-brand-item" href="https://www.facebook.com/" target="_blank">
        <mat-icon>facebook</mat-icon>
      </a>
      <a mat-icon-button class="footer-social-brand-item" href="https://www.youtube.com/" target="_blank">
        <mat-icon>smart_display</mat-icon>
      </a>
    </section>
    <section class="text-center mt-3">
      <span>
        Ecolplag S.A.S. <span>&copy; {{ year }}</span> Todos los derechos
        reservados.
      </span>
    </section>
  </div>
</footer>
