<div class="container">
  <ng-container
    *ngIf="serviceInvoice$ | observableWithStatus | async as obs"
    [ngSwitch]="obs.status"
  >
    <ng-template [ngSwitchCase]="ObsStatus.Loading">
      <div class="center-block-content pt-5">
        <div class="center-flex-content">
          <mat-spinner></mat-spinner>
        </div>
        <h4 class="text-center mt-4 empty-list-text">
          Cargando factura de servicio...
        </h4>
      </div>
    </ng-template>
    <ng-template [ngSwitchCase]="ObsStatus.Success">
      <div *ngIf="obs.value as serviceInvoice">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              Factura de servicio N° {{ serviceInvoice.id }}
            </mat-card-title>
            <mat-card-subtitle>
              Estado: {{ serviceInvoice.state | invoiceState }}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <app-invoice-detail [invoice]="serviceInvoice"></app-invoice-detail>
            <mat-divider inset></mat-divider>
            <app-card-info-item title="Servicios facturados" icon="offline_bolt">
              <span *ngFor="let detail of serviceInvoice.serviceInvoiceDetails" style="display: block">
                {{ detail.serviceName }}
              </span>
            </app-card-info-item>
            <mat-divider inset></mat-divider>
            <app-card-info-item title="Subtotal" icon="payments">
              {{
              serviceInvoice.subTotal | currency: "COP":"symbol-narrow"
              }}
            </app-card-info-item>
            <mat-divider inset></mat-divider>
            <app-card-info-item title="IVA" icon="shopping_bag">
              {{ serviceInvoice.iva * 100 }}%
            </app-card-info-item>
            <mat-divider inset></mat-divider>
            <app-card-info-item title="Total" icon="monetization_on">
              {{ serviceInvoice.total | currency: "COP":"symbol-narrow" }}
            </app-card-info-item>
          </mat-card-content>
          <mat-card-actions
            *ngIf="
              isClient &&
              (serviceInvoice.state == InvoiceState.Generated ||
                serviceInvoice.state == InvoiceState.Regenerated)
            "
          >
            <div class="form-buttons center-flex-content">
              <a
                style="width: 90%"
                type="submit"
                mat-raised-button
                class="royal_azure"
                routerLink="/payments/pay/service_invoice/{{
                  serviceInvoice.id
                }}"
              >
                <mat-icon>attach_money</mat-icon>
                <span>Pagar factura de servicio</span>
              </a>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-template>
  </ng-container>
</div>
