<div class="container">
  <section>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <div>
            <h1 class="text-center">Formulario de agendación de visitas</h1>
          </div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="fromServiceRequest">
          <app-service-request-detail
            [serviceRequestCode]="serviceRequestCode"
            (serviceRequestLoaded)="onLoadedServiceRequest($event)"
          ></app-service-request-detail>
          <mat-divider></mat-divider>
        </div>
        <div>
          <form [formGroup]="activityForm">
            <div *ngIf="!fromServiceRequest">
              <div class="form-element">
                <mat-form-field appearance="standard">
                  <mat-label>Identificación cliente</mat-label>
                  <input
                    type="text"
                    matInput
                    formControlName="clientId"
                    placeholder="Ejemplo: 100787032"
                  />
                  <button
                    type="button"
                    matSuffix
                    mat-icon-button
                    aria-label="Search"
                    (click)="searchClient()"
                    [matTooltip]="'Buscar cliente'"
                  >
                    <mat-icon>search</mat-icon>
                  </button>
                  <mat-hint>
                    Digite la identificación del cliente a buscar
                  </mat-hint>
                  <mat-error *ngIf="controls['clientId'].hasError('required')">
                    Este campo es requerido
                  </mat-error>
                  <mat-error *ngIf="controls['clientId'].hasError('minlength')">
                    La identificación debe tener mínimo 8 carácteres
                  </mat-error>
                  <mat-error *ngIf="controls['clientId'].hasError('maxlength')">
                    La identidicación no debe tener más de 10 carácteres
                  </mat-error>
                </mat-form-field>
              </div>
              <div *ngIf="client">
                <span
                  >Cliente {{ client.firstName }} {{ client.lastName }} con
                  nombre comercial {{ client.tradeName }}.</span
                >
              </div>
              <div class="form-element form-select">
                <mat-form-field>
                  <mat-label>Servicios a aplicar</mat-label>
                  <mat-select formControlName="serviceCodes" multiple>
                    <mat-option
                      *ngFor="let service of services"
                      [value]="service.code"
                    >
                      {{ service.name }} : ${{ service.cost }}
                    </mat-option>
                  </mat-select>
                  <mat-hint>
                    Seleccione los servicios a aplicar al cliente
                  </mat-hint>
                  <mat-error
                    *ngIf="controls['serviceCodes'].hasError('required')"
                  >
                    Debe seleccionar al menos un servicio
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-element form-select">
                <mat-form-field>
                  <mat-label>Periodicidad</mat-label>
                  <mat-select formControlName="periodicity">
                    <mat-option
                      *ngFor="let periodicity of periodicities"
                      [value]="periodicity.type"
                    >
                      {{ periodicity.name }}
                    </mat-option>
                  </mat-select>
                  <mat-hint>Elija la periodicidad de las visitas</mat-hint>
                  <mat-error
                    *ngIf="controls['periodicity'].hasError('required')"
                  >
                    La periodicidad de las visitas es requerida
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="form-row">
                <div class="form-col">
                  <div class="form-element">
                    <mat-form-field>
                      <mat-label>Fecha de aplicación</mat-label>
                      <input
                        matInput
                        [matDatepicker]="datePicker"
                        formControlName="date"
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="datePicker"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #datePicker></mat-datepicker>
                      <mat-hint>
                        Elija la fecha en la que quiere la aplicación del
                        servicio
                      </mat-hint>
                      <mat-error *ngIf="controls['date'].hasError('required')">
                        Debe escoger una fecha de aplicación de los servicios
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="form-col">
                  <div class="form-element">
                    <mat-form-field>
                      <mat-label>Hora de aplicación</mat-label>
                      <input
                        type="time"
                        matInput
                        placeholder="Ejemplo 2:00PM"
                        formControlName="time"
                      />
                      <mat-hint>
                        Elija la hora en la quie quiere la aplicación del
                        servicio
                      </mat-hint>
                      <mat-error *ngIf="controls['time'].hasError('required')">
                        Debe escoger la hora de aplicación de los servicios
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="form-buttons">
                <button
                  mat-raised-button
                  class="royal_azure"
                  (click)="loadTechniciansAvailable()"
                >
                  Buscar técnicos disponibles
                </button>
              </div>
            </div>
            <div
              *ngIf="techniciansAvailable.length > 0"
              style="padding-top: 1rem;"
            >
              <h1>Asignación de empleados</h1>
              <div class="form-element form-select">
                <mat-form-field>
                  <mat-label>Técnicos a asignar</mat-label>
                  <mat-select formControlName="employeeCodes" multiple>
                    <mat-option
                      *ngFor="let employee of techniciansAvailable"
                      [value]="employee.id"
                    >
                      {{ employee.id }} - {{ employee.firstName }}
                      {{ employee.lastName }}
                    </mat-option>
                  </mat-select>
                  <mat-hint>
                    Selecciones los empleados que aplicaran los servicios
                    solicitados
                  </mat-hint>
                  <mat-error
                    *ngIf="controls['employeeCodes'].hasError('required')"
                  >
                    Debe asignar por lo menos un técnico
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </form>
        </div>
        <div class="form-buttons">
          <button
            *ngIf="techniciansAvailable.length > 0"
            mat-raised-button
            class="royal_azure mr-5"
            (click)="onSubmit()"
            [disabled]="savingData"
          >
            Agendar actividad
            <mat-icon *ngIf="savingData"
              ><mat-spinner color="primary" diameter="20"> </mat-spinner
            ></mat-icon>
          </button>
          <button
            *ngIf="fromServiceRequest"
            mat-stroked-button
            color="warn"
            class="mr-5"
            (click)="cancelServiceRequest()"
            [disabled]="savingData"
          >
            Cancelar solicitud
          </button>
          <button
            *ngIf="fromServiceRequest"
            mat-stroked-button
            color="primary"
            (click)="suggestAnotherDate()"
            [disabled]="savingData"
          >
            Sugerir otra fecha
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </section>
</div>
