<div [formGroup]="formGroup">
  <mat-form-field>
    <mat-label *ngIf="label">{{ label }}</mat-label>
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let selectData of selectedData"
        [selectable]="true"
        [removable]="true"
        (removed)="removeData(selectData)"
      >
        {{ dataStr(selectData) }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        formControlName="autoControl"
        #autoInput
        [matAutocomplete]="autoComplete"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="addData($event)"
      />
    </mat-chip-list>
    <mat-autocomplete
      #autoComplete="matAutocomplete"
      (optionSelected)="selectData($event)"
    >
      <mat-option
        *ngFor="let filterData of filteredData | async"
        [value]="filterData"
      >
        {{ dataStr(filterData) }}
      </mat-option>
    </mat-autocomplete>
    <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
  </mat-form-field>
</div>
