<section class="container">
  <div>
    <h1 class="text-center">Solicitudes de clientes</h1>
    <br />
    <h3>
      Están pendientes {{ clientRequests?.length }} solicitudes de clientes.
      Puede revisarlas para luego aceptar o rechazar a cualquier cliente.
    </h3>
  </div>
  <mat-divider></mat-divider>
  <div class="pt-3">
    <div *ngIf="clientRequests?.length <= 0">
      <div>
        <img
          src="/assets/images/relax_people.svg"
          alt="Empty list"
          class="center-block-content"
        />
        <h4 class="text-center empty-list-text">
          No hay solicitudes pendientes
        </h4>
      </div>
    </div>
    <mat-accordion *ngIf="clientRequests?.length > 0">
      <mat-expansion-panel *ngFor="let clientRequest of clientRequests">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Solicitud de {{ clientRequest.firstName }}
            {{ clientRequest.lastName }}
          </mat-panel-title>
          <mat-panel-description>
            Esta solicitud está pendiente
            <mat-icon
              color="warn"
              [matTooltip]="'Click para ver más información'"
              [matTooltipShowDelay]="300"
              [matTooltipPosition]="'above'"
            >
              info
            </mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <h3 class="mat-h3">
          El cliente identificado con C.C.
          <strong>{{ clientRequest.id }}</strong> llamado
          {{ clientRequest.firstName }} {{ clientRequest.secondName }}
          {{ clientRequest.lastName }} {{ clientRequest.secondLastName }}
          <span *ngIf="clientRequest.tradeName">
            , con nombre comercial
            <strong>{{ clientRequest.tradeName }}</strong>
          </span>
          tiene pendiente su solicitud.
        </h3>
        <hr />
        <div class="icon-text-container">
          <mat-icon [matTooltip]="'Teléfono de contacto'">phone</mat-icon>
          <span>{{ clientRequest.firstPhoneNumber }}</span>
        </div>
        <div class="icon-text-container">
          <mat-icon [matTooltip]="'Dirección del cliente'">place</mat-icon>
          <span *ngIf="clientRequest.clientAddress">
            {{ clientRequest.clientAddress.city }},
            {{ clientRequest.clientAddress.neighborhood }},
            {{ clientRequest.clientAddress.street }}
          </span>
        </div>
        <mat-action-row>
          <button
            mat-button
            color="primary"
            (click)="acceptClient(clientRequest)"
            [appLoadingButton]="updatingClientResquest"
          >
            Aceptar
          </button>
          <button
            mat-button
            color="warn"
            (click)="rejectClient(clientRequest)"
            [appLoadingButton]="updatingClientResquest"
          >
            Rechazar
          </button>
          <a
            *ngIf="!updatingClientResquest"
            mat-button
            class="royal_azure"
            routerLink="/clients/requests/{{ clientRequest.id }}"
          >
            Ver más información
          </a>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>
