<div class="container">
  <section>
    <mat-card>
      <mat-card-title>

      </mat-card-title>
      <mat-card-content>
        <mat-vertical-stepper>
          <mat-step [stepControl]="clientForm">
            <ng-template matStepLabel>Datos personales</ng-template>
            <form [formGroup]="clientForm">
              <div class="form-element">
                <mat-form-field>
                  <mat-label>Identificación</mat-label>
                  <input type="tex" matInput placeholder="Ejemplo: 14234353" formControlName="id">
                  <mat-hint>Digite su identificación</mat-hint>
                  <mat-error *ngIf="controls['id'].hasError('required')">Identificación requerida</mat-error>
                  <mat-error *ngIf="controls['id'].hasError('notNumeric')">Digite solo carácteres númericos</mat-error>
                  <mat-error *ngIf="controls['id'].hasError('clientExists')">La identidicación digitada ya está registrada</mat-error>
                </mat-form-field>
              </div>
              <div class="form-element">
                <table cellspacing="0">
                  <tr>
                    <td>
                      <mat-form-field>
                        <mat-label>Primer nombre</mat-label>
                        <input type="text" matInput placeholder="Digite su primer nombre" formControlName="firstName">
                        <mat-hint>Digite su primer nombre</mat-hint>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field>
                        <mat-label>Segundo nombre</mat-label>
                        <input type="text" matInput placeholder="Digite su segundo nombre" formControlName="secondName">
                        <mat-hint>Digite su segundo nombre</mat-hint>
                      </mat-form-field>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="form-element">
                <table cellspacing="0">
                  <tr>
                    <td>
                      <mat-form-field>
                        <mat-label>Primer apellido</mat-label>
                        <input type="text" matInput placeholder="Digite su primer apellido" formControlName="lastName">
                        <mat-hint>Digite su primer apellido</mat-hint>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field>
                        <mat-label>Segundo apellido</mat-label>
                        <input type="text" matInput placeholder="Digite su segundo apellido" formControlName="secondLastname">
                        <mat-hint>Digite su segundo apellido</mat-hint>
                      </mat-form-field>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="form-element form-select">
                <mat-form-field>
                  <mat-label>Tipo de cliente</mat-label>
                  <mat-select required formControlName="clientType">
                    <mat-option [value]="'NaturalPerson'">Persona natural</mat-option>
                    <mat-option [value]="'JuridicPerson'">Persona juridica</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div>
                <button mat-raised-button matStepperNext class="royal_azure">Continuar</button>
              </div>
            </form>
          </mat-step>
          <mat-step *ngIf="controls['clientType'].value == 'JuridicPerson'">
            <ng-template matStepLabel>Datos empresariales</ng-template>
            <form [formGroup]="legalPersonForm">
              <div class="form-element">
                <mat-form-field>
                  <mat-label>Nombre legal</mat-label>
                  <input matInput placeholder="Ejemplo: Manolo S.A.S" formControlName="businessName">
                </mat-form-field>
              </div>
              <div>
                <button mat-raised-button matStepperPrevious style="margin-right: 5px;">Regresar</button>
                <button mat-raised-button matStepperNext class="royal_azure">Continuar</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Datos de ingreso</ng-template>
            <app-user-register (user)="onSubmit($event)"></app-user-register>
          </mat-step>
        </mat-vertical-stepper>
      </mat-card-content>
    </mat-card>
  </section>
</div>
