<div class="container">
  <ng-container
    *ngIf="workOrder$ | observableWithStatus | async as obs"
    [ngSwitch]="obs.status"
  >
    <ng-template [ngSwitchCase]="ObsStatus.Loading">
      <div class="center-block-content pt-5">
        <div class="center-flex-content">
          <mat-spinner></mat-spinner>
        </div>
        <h4 class="text-center mt-4 empty-list-text">
          Cargando orden de trabajo...
        </h4>
      </div>
    </ng-template>
    <ng-template [ngSwitchCase]="ObsStatus.Success">
      <div *ngIf="obs.value as workOrder">
        <mat-card>
          <mat-card-header>
            <mat-card-title class="text-center">
              Orden de trabajo N°
              {{ workOrder.code }}
            </mat-card-title>
            <mat-card-subtitle>
              Sector: {{ workOrder?.sector?.name }}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="icon-text-container">
              <mat-icon [matTooltip]="'Fecha de ejecución'">
                calendar_today
              </mat-icon>
              <span>{{ workOrder.executionDate | date }}</span>
            </div>
            <div class="icon-text-container">
              <mat-icon [matTooltip]="'Hora de llegada'">schedule</mat-icon>
              <span>{{ workOrder.arrivalTime | date: "h:mm a" }}</span>
            </div>
            <div class="icon-text-container">
              <mat-icon [matTooltip]="'Estado'">flag</mat-icon>
              <span>{{ workOrder.workOrderState | workOrderState }}</span>
            </div>
            <div *ngIf="workOrder.departureTime" class="icon-text-container">
              <mat-icon [matTooltip]="'Hora de salida'">timer</mat-icon>
              <span>
                {{ workOrder.departureTime | date: "h:mm a" }}
              </span>
            </div>
            <div *ngIf="workOrder.employee" class="icon-text-container">
              <mat-icon [matTooltip]="'Empleado que generó la orden'">
                engineering
              </mat-icon>
              <span>
                {{ workOrder?.employee?.firstName }}
                {{ workOrder?.employee?.secondName }}
                {{ workOrder?.employee?.lastName }}
                {{ workOrder?.employee?.secondLastName }}
              </span>
            </div>
            <div *ngIf="workOrder.observations" class="icon-text-container">
              <mat-icon [matTooltip]="'Observaciones'">assignment</mat-icon>
              <span>{{ workOrder.observations }}</span>
            </div>
            <div class="pt-2 mb-3">
              <mat-divider inset></mat-divider>
            </div>
            <div class="icon-text-container">
              <mat-icon>gesture</mat-icon>
              <span>Firma del cliente</span>
            </div>
            <div>
              <img
                src="data:image/png;base64,{{ workOrder.clientSignature }}"
                alt="Client signature"
              />
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-template>
  </ng-container>
</div>
