<header class="header">
  <div class="header-section">
    <div class="headline">
      <h1 class="mat-h1">Ecolplag</h1>
      <h2 class="headline-content">
        Somos  una empresa dedicada a la prestación de servicios en prevención y
        manejo integrado de plagas, control de fauna doméstica y silvestre,
        además de otras actividades de limpieza y desinfección, en todos los sectores económicos
      </h2>
    </div>
  </div>
  <div class="header-start center-block-content">
    <a mat-raised-button class="header-btn" routerLink="/user/register">Quiero solicitar un servicio</a>
  </div>
</header>
