<header class="header">
  <div class="header-section">
    <div class="headline">
      <h1 class="mat-h1">Ecolplag</h1>
      <h2 class="headline-content">
        Ofrecemos al mercado soluciones efectivas y eficaces,
        aportando última tecnología, experiencia y máximo respeto al medio ambiente.
      </h2>
    </div>
  </div>
  <div class="header-start center-block-content">
    <a mat-raised-button class="header-btn" routerLink="/user/register">Registrarme como cliente</a>
  </div>
</header>
