header {
  display: block;
  background: #142454;
  color: white;
  min-height: 80vh;
}

div {
  display: block;
}

.header-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  min-height: 480px;
  height: 80vh;
  max-height: 560px;
  box-sizing: border-box;
  padding: 48px 48px 32px;
  overflow: hidden;
  transform: skewY(8deg);
  transform-origin: 100%;
  background: #142454;
  color: white;
}

.header-intro {
  display: flex;
  align-items: center;
  position: relative;
  width: 900px;
  height: 480px;
  margin: 0 auto -32px;
  padding: 48px 0 0;
}

.header-intro .header-logo {
  display: flex;
  margin-right: 15px;
}

.header-intro .header-logo img {
  width: 400px;
  height: 400px;
  margin-bottom: 8px;
  padding: 0;
  -webkit-filter: drop-shadow(0 2px 2px rgba(10, 16, 20, 0.24));
  filter: drop-shadow(0 2px 2px rgba(10, 16, 20, 0.24));
}

.header-intro .header-container {
  width: 100%;
  max-width: 1040px;
  margin: -7% auto 0;
  padding-top: 0;
  padding-bottom: 0;
}

.header-intro .headline {
  color: white;
  font-size: 25px;
  font-size: 2.5rem;
  line-height: 25px;
  line-height: 2.5rem;
  font-weight: 500;
  margin: 32px 0;
}

.header-intro .header-button {
  color: white;
  background-color: #154774;
  font-size: 1.2rem;
  padding: 10px 20px;
}

@media (max-width: 1300px) {
  img {
    max-width: none;
  }
}

@media (max-width: 780px) {
  .header-intro {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 100vw;
    padding: 40px 0 32px;
  }

  .header-intro .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 0;
  }

  .header-intro .headline {
    text-align: center;
  }

  .header-intro .header-logo {
    justify-content: center;
  }

  .header-intro .header-logo img {
    margin-top: 6rem;
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 575px) {
  .header-intro .headline {
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 17px;
    line-height: 1.7rem;
  }
}

@media (max-width: 480px) {
  .header-background {
    max-height: 486px;
    padding-top: 40px;
    transform: none;
  }
}
