<a
  *ngIf="dashboardCard && !dashboardCard.isMenu"
  [routerLink]="dashboardCard.url"
  mat-button
  class="control-card"
>
  <mat-icon>{{ dashboardCard.iconName }}</mat-icon>
  <span>{{ dashboardCard.title }}</span>
</a>
<mat-menu #cardMenu="matMenu" class="cardMenu">
  <a
    *ngFor="let subMenu of dashboardCard.subMenu"
    mat-menu-item
    routerLink="{{ subMenu.url }}"
  >
    <mat-icon>{{ subMenu.iconName }}</mat-icon>
    <span>{{ subMenu.title }}</span>
  </a>
</mat-menu>
<button
  *ngIf="dashboardCard && dashboardCard.isMenu"
  mat-button
  class="control-card"
  [matMenuTriggerFor]="cardMenu"
>
  <mat-icon>{{ dashboardCard.iconName }}</mat-icon>
  <span>{{ dashboardCard.title }}</span>
</button>
