.control-card {
  max-width: 250px;
  max-height: 200px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 15px;
  transition: all 300ms;
}

.control-card:hover {
  transform: scale(1.01);
}

.control-card-img {
  max-height: 100px;
  max-width: 100px;
  margin: 0 auto;
}

.control-card-title {
  font-size: 18px;
  font-weight: 300;
}
