.control-card {
  min-width: 265px !important;
  width: 100%;
  font-size: 18px;
  padding: 10px;
  background: white;
  text-align: center;
  margin-bottom: 7px;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.control-card mat-icon {
  margin-right: 7px !important;
}

.control-card:hover {
  color: initial !important;
}

.control-card-option:hover {
  color: initial !important;
}

.cardMenu a:hover {
  color: initial !important;
}

::ng-deep .cardMenu {
  min-width: 265px;
  width: 100%;
}
