<div class="container">
  <section>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h1>Registro de empleado</h1>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-horizontal-stepper [linear]="true" #stepper>
          <mat-step [stepControl]="employeeForm">
            <form [formGroup]="employeeForm">
              <ng-template matStepLabel>Datos del empleado</ng-template>
              <div class="form-element">
                <mat-form-field>
                  <mat-label>Identificación</mat-label>
                  <input
                    type="tex"
                    matInput
                    placeholder="Ejemplo: 14234353"
                    formControlName="id"
                    required
                  />
                  <mat-hint>Digite su identificación</mat-hint>
                  <mat-error *ngIf="controls['id'].hasError('required')"
                    >Identificación requerida</mat-error
                  >
                  <mat-error *ngIf="controls['id'].hasError('notNumeric')"
                    >Digite solo carácteres númericos</mat-error
                  >
                  <mat-error *ngIf="controls['id'].hasError('minlength')"
                    >La identificación debe tener mínimo 8 carácteres</mat-error
                  >
                  <mat-error *ngIf="controls['id'].hasError('maxlength')"
                    >La identificación debe tener máximo 10
                    carácteres</mat-error
                  >
                  <mat-error *ngIf="controls['id'].hasError('employeeExists')"
                    >La identidicación digitada ya está registrada</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="form-element">
                <table cellspacing="0">
                  <tr>
                    <td>
                      <mat-form-field>
                        <mat-label>Primer nombre</mat-label>
                        <input
                          type="text"
                          matInput
                          placeholder="Digite su primer nombre"
                          formControlName="firstName"
                        />
                        <mat-hint>Digite su primer nombre</mat-hint>
                        <mat-error
                          *ngIf="controls['firstName'].hasError('required')"
                          >Su primer nombre es requerido</mat-error
                        >
                        <mat-error
                          *ngIf="controls['firstName'].hasError('minlength')"
                          >Digite por lo menos 3 carácteres</mat-error
                        >
                        <mat-error
                          *ngIf="controls['firstName'].hasError('maxlength')"
                          >Digite máximo 20 caracteres</mat-error
                        >
                        <mat-error
                          *ngIf="
                            controls['firstName'].hasError('notAlphabetic') &&
                            !controls['firstName'].hasError('maxlength') &&
                            !controls['firstName'].hasError('minlength')
                          "
                          >Digite carácteres alfabeticos</mat-error
                        >
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field>
                        <mat-label>Segundo nombre</mat-label>
                        <input
                          type="text"
                          matInput
                          placeholder="Digite su segundo nombre"
                          formControlName="secondName"
                        />
                        <mat-hint>Digite su segundo nombre</mat-hint>
                        <mat-error
                          *ngIf="controls['secondName'].hasError('minlength')"
                          >Digite por lo menos 3 carácteres</mat-error
                        >
                        <mat-error
                          *ngIf="controls['secondName'].hasError('maxlength')"
                          >Digite máximo 20 caracteres</mat-error
                        >
                        <mat-error
                          *ngIf="
                            controls['secondName'].hasError('notAlphabetic') &&
                            !controls['secondName'].hasError('maxlength') &&
                            !controls['secondName'].hasError('minlength')
                          "
                          >Digite carácteres alfabeticos</mat-error
                        >
                      </mat-form-field>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="form-element">
                <table cellspacing="0">
                  <tr>
                    <td>
                      <mat-form-field>
                        <mat-label>Primer apellido</mat-label>
                        <input
                          type="text"
                          matInput
                          placeholder="Digite su primer apellido"
                          formControlName="lastName"
                        />
                        <mat-hint>Digite su primer apellido</mat-hint>
                        <mat-error
                          *ngIf="controls['lastName'].hasError('required')"
                          >Su primer apellido es requerido</mat-error
                        >
                        <mat-error
                          *ngIf="controls['lastName'].hasError('minlength')"
                          >Digite por lo menos 3 carácteres</mat-error
                        >
                        <mat-error
                          *ngIf="controls['lastName'].hasError('maxlength')"
                          >Digite máximo 20 caracteres</mat-error
                        >
                        <mat-error
                          *ngIf="
                            controls['lastName'].hasError('notAlphabetic') &&
                            !controls['lastName'].hasError('maxlength') &&
                            !controls['lastName'].hasError('minlength')
                          "
                          >Digite carácteres alfabeticos</mat-error
                        >
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field>
                        <mat-label>Segundo apellido</mat-label>
                        <input
                          type="text"
                          matInput
                          placeholder="Digite su segundo apellido"
                          formControlName="secondLastname"
                        />
                        <mat-hint>Digite su segundo apellido</mat-hint>
                        <mat-error
                          *ngIf="
                            controls['secondLastname'].hasError('minlength')
                          "
                          >Digite por lo menos 3 carácteres</mat-error
                        >
                        <mat-error
                          *ngIf="
                            controls['secondLastname'].hasError('maxlength')
                          "
                          >Digite máximo 20 caracteres</mat-error
                        >
                        <mat-error
                          *ngIf="
                            controls['secondLastname'].hasError(
                              'notAlphabetic'
                            ) &&
                            !controls['secondLastname'].hasError('maxlength') &&
                            !controls['secondLastname'].hasError('minlength')
                          "
                          >Digite carácteres alfabeticos</mat-error
                        >
                      </mat-form-field>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="form-element form-select">
                <mat-form-field>
                  <mat-label>Cargo del empleado</mat-label>
                  <mat-select required formControlName="employeeCharge">
                    <mat-option
                      *ngFor="let employeeCharge of employeeCharges"
                      [value]="employeeCharge.id"
                      >{{ employeeCharge.charge }}</mat-option
                    >
                    <mat-error
                      *ngIf="controls['employeeCharge'].hasError('required')"
                      >Campo requerido</mat-error
                    >
                  </mat-select>
                </mat-form-field>
              </div>
              <div>
                <button mat-raised-button matStepperNext class="royal_azure">
                  Continuar
                </button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="contactForm">
            <form [formGroup]="contactForm">
              <ng-template matStepLabel>Datos de contacto</ng-template>
              <div class="form-element">
                <table cellspacing="0">
                  <tr>
                    <td>
                      <mat-form-field>
                        <mat-label>Dirección de email</mat-label>
                        <input type="email" matInput formControlName="email" />
                        <mat-hint>Digite su dirección de email</mat-hint>
                        <mat-error
                          *ngIf="contact_controls['email'].hasError('required')"
                          >Su email es requerido</mat-error
                        >
                        <mat-error
                          *ngIf="contact_controls['email'].hasError('email')"
                          >Digite un email valido</mat-error
                        >
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field>
                        <mat-label>Número de teléfono</mat-label>
                        <input
                          type="tel"
                          matInput
                          formControlName="phonenumber"
                        />
                        <mat-hint>Digite su número de teléfono</mat-hint>
                        <mat-error
                          *ngIf="
                            contact_controls['phonenumber'].hasError('required')
                          "
                          >Su número de teléfono es requerido</mat-error
                        >
                        <mat-error
                          *ngIf="
                            contact_controls['phonenumber'].hasError(
                              'minlength'
                            )
                          "
                          >Digite por lo menos 10 carácteres</mat-error
                        >
                        <mat-error
                          *ngIf="
                            contact_controls['phonenumber'].hasError(
                              'maxlength'
                            )
                          "
                          >Digite máximo 10 caracteres</mat-error
                        >
                        <mat-error
                          *ngIf="
                            contact_controls['phonenumber'].hasError(
                              'notNumber'
                            ) &&
                            !contact_controls['phonenumber'].hasError(
                              'maxlength'
                            ) &&
                            !contact_controls['phonenumber'].hasError(
                              'minlength'
                            )
                          "
                          >Digite carácteres numéricos</mat-error
                        >
                      </mat-form-field>
                    </td>
                  </tr>
                </table>
              </div>
              <div>
                <button mat-raised-button matStepperPrevious>
                  Regresar
                </button>
                <button mat-raised-button matStepperNext class="royal_azure">
                  Continuar
                </button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="contractForm">
            <form [formGroup]="contractForm">
              <ng-template matStepLabel>Datos de contrato</ng-template>
              <div class="form-element">
                <mat-form-field>
                  <mat-label>Código de contrato</mat-label>
                  <input
                    type="text"
                    matInput
                    formControlName="contractCode"
                    placeholder="Ejemplo: 3242AAR4"
                  />
                  <mat-hint>Digite el código de contrato del empleado</mat-hint>
                </mat-form-field>
              </div>
              <div class="form-element form-select">
                <mat-form-field>
                  <mat-label>Fecha de inicio del contrato</mat-label>
                  <input
                    matInput
                    [matDatepicker]="startDate"
                    formControlName="startDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="startDate"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #startDate></mat-datepicker>
                  <mat-hint
                    >Seleccione la fecha de inicio del contrato</mat-hint
                  >
                </mat-form-field>
              </div>
              <div class="form-element form-select">
                <mat-form-field>
                  <mat-label>Fecha de finalización del contrato</mat-label>
                  <input
                    matInput
                    [matDatepicker]="endDate"
                    formControlName="endDate"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="endDate"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #endDate></mat-datepicker>
                  <mat-hint
                    >Seleccione la fecha de finalización del contrato</mat-hint
                  >
                </mat-form-field>
              </div>
            </form>
            <div>
              <button mat-raised-button matStepperPrevious>
                Regresar
              </button>
              <button mat-raised-button matStepperNext class="royal_azure">
                Continuar
              </button>
            </div>
          </mat-step>
          <mat-step>
            <app-user-register (user)="onSubmit($event)">
              <ng-template matStepLabel>Datos de ingreso</ng-template>
            </app-user-register>
          </mat-step>
        </mat-horizontal-stepper>
      </mat-card-content>
    </mat-card>
  </section>
</div>
