<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title><h1>Registro de equipo</h1></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-horizontal-stepper [linear]="false">
        <mat-step [stepControl]="serviceForm">
          <ng-template matStepLabel>Datos básicos del servicio</ng-template>
          <form [formGroup]="serviceForm">
            <div class="form-element">
              <mat-form-field>
                <mat-label>Código</mat-label>
                <input
                  type="text"
                  matInput
                  placeholder="Ejemplo: 22at"
                  formControlName="code"
                />
                <mat-hint>Digite el código del servicio</mat-hint>
              </mat-form-field>
            </div>
            <div class="form-element">
              <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input
                  type="text"
                  matInput
                  placeholder="Ejemplo: Control de roedores"
                  formControlName="name"
                />
                <mat-hint>Digite el nombre del servicio</mat-hint>
              </mat-form-field>
            </div>
            <div class="form-element form-select">
              <mat-form-field>
                <mat-label>Tipo de servicio</mat-label>
                <mat-select required formControlName="serviceType">
                  <mat-option
                    *ngFor="let serviceType of serviceTypes"
                    [value]="serviceType.id"
                  >
                    {{ serviceType.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-element">
              <mat-form-field>
                <mat-label>Costo</mat-label>
                <input
                  type="number"
                  matInput
                  placeholder="Ejemplo: 30000$"
                  formControlName="cost"
                />
                <mat-hint>Digite el costo del servicio</mat-hint>
              </mat-form-field>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Productos utilizados</ng-template>
          <form [formGroup]="serviceProductsForm">
            <div class="form-element">
              <mat-autocomplete-chip-list-input
                #productAuto
                formControlName="productCodes"
                [label]="'Código producto'"
                [hint]="'Digite el código del producto'"
                [filterFunction]="filterProduct"
                [findFunction]="findProduct"
                [dataStrFunction]="productStr"
                [initialData]="products"
              ></mat-autocomplete-chip-list-input>
            </div>
          </form>
          <div>
            <button matStepperPrevious mat-raised-button>Regresar</button>
            <button matStepperNext mat-raised-button class="royal_azure">
              Siguiente
            </button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Equipos necesarios</ng-template>
          <form [formGroup]="serviceEquipmentsForm">
            <div class="form-element">
              <mat-autocomplete-chip-list-input
                #equipmentAuto
                formControlName="equipmentCodes"
                [label]="'Código de equipos'"
                [hint]="'Digite el código del qeuipo a buscar'"
                [filterFunction]="filterEquipment"
                [findFunction]="findEquipment"
                [dataStrFunction]="equipmentStr"
                [initialData]="equipments"
              ></mat-autocomplete-chip-list-input>
            </div>
          </form>
          <div>
            <button matStepperPrevious mat-raised-button>
              Regresar
            </button>
            <button matStepperNext mat-raised-button class="royal_azure">
              Siguiente
            </button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Empleados aptos</ng-template>
          <form [formGroup]="serviceEmployeesForm">
            <div class="form-element">
              <mat-autocomplete-chip-list-input
                #employeeAuto
                formControlName="employeeCodes"
                [label]="'Código empleados'"
                [hint]="'Digite el código del empleado'"
                [filterFunction]="filterEmployee"
                [findFunction]="findEmployee"
                [dataStrFunction]="employeeStr"
                [initialData]="employees"
              ></mat-autocomplete-chip-list-input>
            </div>
          </form>
          <div>
            <button matStepperPrevious mat-raised-button>
              Regresar
            </button>
            <button matStepperNext mat-raised-button class="royal_azure">
              Siguiente
            </button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card-content>
  </mat-card>
</div>
