<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title><h1>Registro de equipo</h1></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-horizontal-stepper [linear]="true">
        <mat-step [stepControl]="serviceForm">
          <ng-template matStepLabel>Datos básicos del servicio</ng-template>
          <form [formGroup]="serviceForm">
            <div class="form-element">
              <mat-form-field>
                <mat-label>Código</mat-label>
                <input
                  type="text"
                  matInput
                  placeholder="Ejemplo: 22at"
                  formControlName="code"
                />
                <mat-hint>Digite el código del servicio</mat-hint>
                <mat-error *ngIf="controls['code'].hasError('required')">
                  El código del servicio es requerido
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-element">
              <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input
                  type="text"
                  matInput
                  placeholder="Ejemplo: Control de roedores"
                  formControlName="name"
                />
                <mat-hint>Digite el nombre del servicio</mat-hint>
                <mat-error *ngIf="controls['name'].hasError('required')">
                  El nombre del servicio es requerido
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-element form-select">
              <mat-form-field>
                <mat-label>Tipo de servicio</mat-label>
                <mat-select required formControlName="serviceType">
                  <mat-option
                    *ngFor="let serviceType of serviceTypes"
                    [value]="serviceType.id"
                  >
                    {{ serviceType.name }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="controls['serviceType'].hasError('required')">
                  Debe seleccionar el tipo de servicio
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-element">
              <mat-form-field>
                <mat-label>Costo</mat-label>
                <input
                  type="number"
                  matInput
                  placeholder="Ejemplo: 30000$"
                  formControlName="cost"
                />
                <mat-hint>Digite el costo del servicio</mat-hint>
                <mat-error *ngIf="controls['cost'].hasError('required')">
                  El precio del servicio es requerido
                </mat-error>
              </mat-form-field>
            </div>
          </form>
          <div class="form-buttons">
            <button matStepperNext mat-raised-button class="royal_azure">
              Siguiente
            </button>
          </div>
        </mat-step>
        <mat-step [stepControl]="selectProducts">
          <ng-template matStepLabel>Productos utilizados</ng-template>
          <app-select-products #selectProducts></app-select-products>
          <div class="form-buttons">
            <button matStepperPrevious mat-raised-button>Regresar</button>
            <button matStepperNext mat-raised-button class="royal_azure">
              Siguiente
            </button>
          </div>
        </mat-step>
        <mat-step [stepControl]="selectEquipments">
          <ng-template matStepLabel>Equipos necesarios</ng-template>
          <app-select-equipments #selectEquipments></app-select-equipments>
          <div class="form-buttons">
            <button matStepperPrevious mat-raised-button>
              Regresar
            </button>
            <button matStepperNext mat-raised-button class="royal_azure">
              Siguiente
            </button>
          </div>
        </mat-step>
        <mat-step [stepControl]="selectEmployees">
          <ng-template matStepLabel>Empleados aptos</ng-template>
          <app-select-employees #selectEmployees></app-select-employees>
          <div class="form-buttons">
            <button matStepperPrevious mat-raised-button>
              Regresar
            </button>
            <button mat-raised-button (click)="onSubmit()" class="royal_azure">
              Registrar servicio
            </button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card-content>
  </mat-card>
</div>
