<div class="center-element">
  <div *ngIf="!requestResult">
    <mat-card class="center-block-content mat-elevation-z0 user-card">
      <mat-card-header>
        <mat-card-title class="text-center">
          Restablecimiento de contraseña
        </mat-card-title>
        <mat-card-subtitle>
          Restablece tu contraseña de acceso en caso de que la hayas olvidado.
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="form-element">
          <mat-form-field appearance="outline">
            <mat-label>Nombre de usuario o email</mat-label>
            <input type="text" matInput [formControl]="usernameOrEmail" />
            <mat-hint>
              Digite su usuario o email para recuperar su contraseña
            </mat-hint>
            <mat-error *ngIf="usernameOrEmail.hasError('required')">
              Su usuario o email son requeridos
            </mat-error>
            <mat-error *ngIf="usernameOrEmail.hasError('minlength')">
              Su nombre de usuario o email deben tener al menos 5 carácteres
            </mat-error>
            <mat-error *ngIf="usernameOrEmail.hasError('maxlength')">
              Su nombre de usuario o email no deben tener más de 15 carácteres
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-buttons">
          <button
            mat-raised-button
            class="royal_azure"
            (click)="onSubmit()"
            [disabled]="usernameOrEmail.invalid"
            [appLoadingButton]="sendingRequest"
            [disabled]="sendingRequest"
          >
            Restablecer contraseña
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="requestResult">
    <mat-card class="center-block-content mat-elevation-z0 user-card">
      <mat-card-header>
        <mat-card-title class="text-center">
          Restablecimiento de contraseña
        </mat-card-title>
        <mat-card-subtitle>
          Se ha enviado tu solicitud de restablecimiento de contraseña al correo
          con el que realizaste tu registro. Revisa tu bandeja de entrada y
          sigue los pasos para reestablecer tus datos de acceso.
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <a mat-raised-button routerLink="/" class="royal_azure">
          Volver al inicio
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
