<div>
  <div class="text-center">
    <h1>Perfil de usuario</h1>
  </div>
  <div class="user-info">
    <h3>
      Bienvenido,
      <span *ngIf="person"
        >{{ person.firstName }} {{ person.secondName }} {{ person.lastName }}
        {{ person.secondLastName }}</span
      >
    </h3>
  </div>
  <mat-divider></mat-divider>
  <div class="control-panel">
    <app-dashboard></app-dashboard>
  </div>
  <div *ngIf="isAdmin" class="control-panel">
    <app-today-statistics></app-today-statistics>
  </div>
</div>
