<app-header></app-header>
<div class="container">
  <main>
    <div class="center-content">
      <div class="row">
        <div class="col col-lg-6 col-sm-12">
          <mat-card id="mision">
            <mat-card-header class="center-flex-content">
              <mat-card-title>Misión</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                <strong>ECOLPLAG S.A.S.</strong> es una empresa dedicada a la
                prestación de servicios en prevención y manejo integrado de
                plagas, control de fauna doméstica y silvestre, además de otras
                actividades de limpieza y desinfección, en todos los sectores
                económicos; utilizando técnicas innovadoras de alta calidad,
                talento humano calificado, tecnología de punta, costos
                competitivos y cuidado del medio ambiente.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col col-lg-6 col-sm-12">
          <mat-card id="vision">
            <mat-card-header class="center-flex-content">
              <mat-card-title>Visión</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                <strong>ECOLPLAG S.A.S.</strong> se proyecta como una empresa
                líder a nivel regional y nacional en la prestación de servicios
                para los diferentes sectores económicos, manteniendo los más
                altos estándares de confiabilidad, seguridad y calidad de
                servicio.
              </p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <section>
      <div class="center-text">
        <h2>Disponemos de servicios como:</h2>
        <div class="card-columns">
          <div class="card">
            <img
              src="assets/images/ecolplag_bird.png"
              class="card-img-top"
              alt="Card image cap"
            />
            <div class="card-body">
              <h1 class="card-title"><strong>Control de plagas</strong></h1>
              <p class="card-text">
                Servicio dedicado al control de plagas como: ratas, cucarachas,
                mosquitos, ácaros, serpientes, y muchas más
              </p>
              <button type="button" class="btn btn-outline-primary btn-block">
                Más info.
              </button>
              <button type="button" class="btn btn-outline-primary btn-block">
                Solicitar servicio
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
