<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>Registro de producto</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-horizontal-stepper [linear]="true">
        <mat-step [stepControl]="productForm">
          <ng-template matStepLabel>Datos básicos del producto</ng-template>
          <form [formGroup]="productForm">
            <div class="form-element">
              <mat-form-field>
                <mat-label>Código</mat-label>
                <input
                  type="text"
                  matInput
                  placeholder="Ejemplo: 22RT5"
                  formControlName="code"
                  class="text-uppercase"
                  appUniqueProduct
                  required
                />
                <mat-hint>Digite el código del producto</mat-hint>
                <mat-error *ngIf="controls['code'].hasError('required')">
                  El código del producto es necesario
                </mat-error>
                <mat-error *ngIf="controls['code'].hasError('productExists')">
                  El código del producto ya está en uso
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-element">
              <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input
                  type="text"
                  matInput
                  placeholder="Ejemplo: Pesticida"
                  formControlName="name"
                />
                <mat-hint>Digite el nombre del producto</mat-hint>
                <mat-error *ngIf="controls['name'].hasError('required')">
                  El nombre del producto es requerido
                </mat-error>
                <mat-error *ngIf="controls['name'].hasError('maxlength')">
                  El nombre del producto no puede tener más de 40 caracteres
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-element">
              <mat-form-field>
                <mat-label>Descripción</mat-label>
                <textarea
                  matInput
                  placeholder="Descripción del producto"
                  formControlName="description"
                ></textarea>
                <mat-hint>Digite la descripción del producto</mat-hint>
                <mat-error *ngIf="controls['description'].hasError('required')">
                  La descripción del producto es requerida
                </mat-error>
                <mat-error
                  *ngIf="controls['description'].hasError('maxlength')"
                >
                  La descripción del producto no puede tener más de 40
                  caracteres
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-row">
              <div class="form-col">
                <div class="form-element">
                  <mat-form-field>
                    <mat-label>Cantidad</mat-label>
                    <input
                      type="number"
                      matInput
                      placeholder="Ejemplo: 55"
                      formControlName="amount"
                    />
                    <mat-hint>
                      Digite la cantidad existente del producto
                    </mat-hint>
                    <mat-error *ngIf="controls['amount'].hasError('required')">
                      La cantidad del producto es requerida
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="form-col">
                <div class="form-element">
                  <mat-form-field>
                    <mat-label>Presentación</mat-label>
                    <input
                      type="text"
                      matInput
                      placeholder="Ejemplo: 1 Litro"
                      formControlName="presentation"
                    />
                    <mat-hint>Digite la presentación del producto</mat-hint>
                    <mat-error
                      *ngIf="controls['presentation'].hasError('required')"
                    >
                      La presentación del producto es requerida
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="form-element">
              <mat-form-field>
                <mat-label>Precio</mat-label>
                <input
                  type="number"
                  matInput
                  placeholder="Ejemplo: 50000"
                  formControlName="price"
                />
                <mat-hint>Digite el precio de compra del producto</mat-hint>
                <mat-error *ngIf="controls['price'].hasError('required')">
                  El precio del producto es requerido
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-element">
              <mat-form-field>
                <mat-label>Meses de aplicación</mat-label>
                <mat-select
                  #monthSelect="matSelect"
                  formControlName="applicationMonths"
                  (selectionChange)="onSelectMonth($event)"
                  multiple
                >
                  <mat-option
                    *ngFor="let month of allMonths"
                    [value]="month.value"
                  >
                    {{ month.name }}
                  </mat-option>
                </mat-select>
                <mat-hint>
                  Seleccione los meses de aplicación del producto
                </mat-hint>
                <mat-error
                  *ngIf="controls['applicationMonths'].hasError('required')"
                >
                  Meses de aplicación requeridos
                </mat-error>
              </mat-form-field>
            </div>
          </form>
          <div class="form-buttons">
            <button matStepperNext mat-raised-button class="royal_azure">
              Siguiente
            </button>
          </div>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Documentos del producto</ng-template>
          <form [formGroup]="productDocumentsForm">
            <div class="form-element">
              <mat-form-field>
                <mat-label>Ficha técnica</mat-label>
                <mat-file-input
                  formControlName="dataSheet"
                  placeholder="Ficha técnica del producto"
                  required
                  [accept]="'.pdf'"
                ></mat-file-input>
                <mat-icon matSuffix>folder</mat-icon>
                <mat-hint>Seleccione la ficha técnica del producto</mat-hint>
                <mat-error
                  *ngIf="documents_controls['dataSheet'].hasError('required')"
                  >Este archivo es necesario</mat-error
                >
              </mat-form-field>
            </div>
            <div class="form-element">
              <mat-form-field>
                <mat-label>Registro sanitario</mat-label>
                <mat-file-input
                  formControlName="healthRegister"
                  placeholder="Registro sanitario del producto"
                  required
                  [accept]="'.pdf'"
                ></mat-file-input>
                <mat-icon matSuffix>folder</mat-icon>
                <mat-hint
                  >Seleccione el registro sanitario del producto</mat-hint
                >
                <mat-error
                  *ngIf="
                    documents_controls['healthRegister'].hasError('required')
                  "
                  >Este archivo es necesario</mat-error
                >
              </mat-form-field>
            </div>
            <div class="form-element">
              <mat-form-field>
                <mat-label>Tarjeta de seguridad</mat-label>
                <mat-file-input
                  formControlName="safetySheet"
                  placeholder="Tarjeta de seguridad del producto"
                  required
                  [accept]="'.pdf'"
                ></mat-file-input>
                <mat-icon matSuffix>folder</mat-icon>
                <mat-hint
                  >Seleccione tarjeta de seguridad del producto</mat-hint
                >
                <mat-error
                  *ngIf="documents_controls['safetySheet'].hasError('required')"
                  >Este archivo es necesario</mat-error
                >
              </mat-form-field>
            </div>
            <div class="form-element">
              <mat-form-field>
                <mat-label>Tarjeta de emergencia</mat-label>
                <mat-file-input
                  formControlName="emergencyCard"
                  placeholder="Tarjeta de emergencia del producto"
                  required
                  [accept]="'.pdf'"
                ></mat-file-input>
                <mat-icon matSuffix>folder</mat-icon>
                <mat-hint
                  >Seleccione tarjeta de emergencia del producto</mat-hint
                >
                <mat-error
                  *ngIf="
                    documents_controls['emergencyCard'].hasError('required')
                  "
                  >Este archivo es necesario</mat-error
                >
              </mat-form-field>
            </div>
          </form>
          <div
            class="center-block-content form-element"
            style="margin-bottom: 15px"
          >
            <mat-progress-bar
              *ngIf="uploading"
              mode="determinate"
              [value]="uploadP"
            ></mat-progress-bar>
          </div>
          <div class="form-buttons">
            <button mat-raised-button matStepperPrevious>Regresar</button>
            <button
              mat-raised-button
              class="royal_azure"
              (click)="onSubmit()"
              [appLoadingButton]="savingData"
            >
              Registrar producto
            </button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card-content>
  </mat-card>
</div>
