<section [ngClass]="{ container: !serviceRequestCode }">
  <div *ngIf="serviceRequest">
    <h1 class="text-center">Solicitud N° {{ serviceRequest.code }}</h1>
    <h3>
      Solicitud del servicio hecha por el cliente
      {{ serviceRequest.client.firstName }}
      {{ serviceRequest.client.secondName }}
      {{ serviceRequest.client.lastName }}
      {{ serviceRequest.client.secondLastName }}.
    </h3>
    <mat-divider></mat-divider>
    <div style="padding-top: 1.5rem; padding-bottom: 1.5rem;">
      <span>La solicitud fue hecha para aplicar los siguientes servicios:</span>
      <div>
        <mat-list>
          <mat-list-item *ngFor="let service of serviceRequest.services">
            <mat-icon style="margin-right: 7px;">label</mat-icon>
            {{ service.code }} - {{ service.name }} :
            {{ service.cost | currency: "COP":"symbol-narrow" }}
          </mat-list-item>
        </mat-list>
      </div>
      <span>
        En la fecha {{ serviceRequest.date | date: "MMMM d, y, h:mm a" }}. Con
        una periodicidad {{ serviceRequest.periodicity | periodicity }}.
      </span>
    </div>
  </div>
</section>
