<section [ngClass]="{ container: !serviceRequestCode }">
  <ng-container
    *ngIf="serviceRequest$ | observableWithStatus | async as obs"
    [ngSwitch]="obs.status"
  >
    <ng-template [ngSwitchCase]="ObsStatus.Loading">
      <div class="center-block-content pt-5">
        <div class="center-flex-content">
          <mat-spinner></mat-spinner>
        </div>
        <h4 class="text-center mt-4 empty-list-text">
          Cargando solicitud de servicio...
        </h4>
      </div>
    </ng-template>
    <ng-template [ngSwitchCase]="ObsStatus.Success">
      <div *ngIf="serviceRequest">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Solicitud de servicio N° {{ serviceRequest.code }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <app-card-info-item title="Nombre del cliente" icon="person">
              {{ serviceRequest.client.firstName }}
              {{ serviceRequest.client.secondName }}
              {{ serviceRequest.client.lastName }}
              {{ serviceRequest.client.secondLastName }}
            </app-card-info-item>
            <mat-divider inset></mat-divider>
            <app-card-info-item title="Nombre comercial del cliente" icon="business">
              {{ serviceRequest.client.tradeName }}
            </app-card-info-item>
            <mat-divider inset></mat-divider>
            <app-card-info-item title="Teléfonos de contacto del cliente" icon="phone">
              {{ serviceRequest.client.firstPhoneNumber }} {{ serviceRequest.client.secondPhoneNumber }}
            </app-card-info-item>
            <mat-divider inset></mat-divider>
            <app-card-info-item title="Fecha y hora de aplicación de los servicios" icon="today">
              {{ serviceRequest.date | date: "MMMM d, y, h:mm a" }}
            </app-card-info-item>
            <mat-divider inset></mat-divider>
            <app-card-info-item title="Periodicidad de las visitas" icon="repeat">
              {{ serviceRequest.periodicity | periodicity }}
            </app-card-info-item>
            <mat-divider inset></mat-divider>
            <app-card-info-item title="Servicios solicitados" icon="bolt">
              <span *ngFor="let service of serviceRequest.services" style="display: block">
                {{ service.name }}
              </span>
            </app-card-info-item>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-template>
  </ng-container>
</section>
