<section class="container">
  <div>
    <h1 class="text-center">
      Actividades pendientes
    </h1>
    <br />
    <h3>
      Tienes pendiente un total de {{ pendingActivities.length }} actividades
      pendiente para el dia de hoy.
    </h3>
  </div>
  <mat-divider></mat-divider>
  <div style="padding-top: 1.5rem;">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let activity of pendingActivities">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Actividad N° {{ activity.code }} en la fecha
            {{ activity.date | date: "MMMM d, y, h:mm a" }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <h4>
          Actividad N° {{ activity.code }} hecha por el cliente
          {{ activity.client.firstName }} {{ activity.client.lastName }}.
        </h4>
        <mat-action-row>
          <a
            mat-raised-button
            class="royal_azure"
            routerLink="/work_orders/register"
            [queryParams]="{ activity: activity.code }"
          >
            Generar orden de trabajo
          </a>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>
