<div *ngIf="invoice">
  <app-card-info-item [title]="'Fecha de generación de factura'" [icon]="'date_range'">
    {{ invoice.generationDate | date: "MMMM d, y, h:mm a" }}
  </app-card-info-item>
  <mat-divider inset></mat-divider>
  <app-card-info-item *ngIf="invoice.state == 2" [title]="'Método de pago'" [icon]="'payments'">
    {{ invoice.paymentMethod | paymentMethod }}
  </app-card-info-item>
  <mat-divider *ngIf="invoice.state == 2" inset></mat-divider>
  <app-card-info-item *ngIf="invoice.state == 2" [title]="'Fecha de pago'" [icon]="'receipt_long'">
    {{ invoice.paymentDate | date: "MMMM d, y, h:mm a" }}
  </app-card-info-item>
  <mat-divider *ngIf="invoice.state == 2" inset></mat-divider>
  <app-card-info-item [title]="'Identificación y nombre del cliente'" [icon]="'person'">
    {{ invoice.client?.id }},
    {{ invoice.client?.firstName }}
    {{ invoice.client?.secondName }}
    {{ invoice.client?.lastName }}
    {{ invoice.client?.secondLastName }}
  </app-card-info-item>
</div>


