.TodayStatistics__card__content {
  color: rgba(0, 0, 0, 0.57)
}

.TodayStatistics__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (min-width: 960px) {
  .TodayStatistics__container {
    flex-direction: row;
  }
}

.TodayStatistics__card {
  border: 1px solid rgba(0, 0, 0, 0.12);
}
