<h1 mat-dialog-title>Elija una nueva fecha y hora de aplicación</h1>
<div mat-dialog-content [formGroup]="dateForm">
  <div class="form-row">
    <div class="form-col">
      <div class="form-element">
        <mat-form-field>
          <mat-label>Fecha de aplicación</mat-label>
          <input
            matInput
            [matDatepicker]="datePicker"
            formControlName="newDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="datePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #datePicker></mat-datepicker>
          <mat-hint
            >Elija la fecha en la que quiere la aplicación del
            servicio</mat-hint
          >
        </mat-form-field>
      </div>
    </div>
    <div class="form-col">
      <div class="form-element">
        <mat-form-field>
          <mat-label>Hora de aplicación</mat-label>
          <input
            type="time"
            matInput
            placeholder="Ejemplo 2:00PM"
            formControlName="newTime"
          />
          <mat-hint
            >Elija la hora en la quie quiere la aplicación del
            servicio</mat-hint
          >
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <div class="pt-4">
    <button mat-stroked-button color="warn" (click)="onCancel()">
      Cancelar
    </button>
    <button mat-raised-button class="royal_azure" (click)="saveDate()">
      Cambiar fecha
    </button>
  </div>
</div>
