<section class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title><span>Registro de orden de trabajo</span></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="activity">
        <p>Actividad N° {{ activity.code }}</p>
        <p>
          Para el cliente {{ activity?.client?.firstName }}. En la fecha
          {{ activity?.date | date: "MMMM d, y, h:mm a" }}
        </p>
      </div>
      <div *ngIf="!workOrder">
        <form [formGroup]="workOrderForm">
          <div class="form-element">
            <mat-form-field>
              <mat-label>Sector</mat-label>
              <mat-select formControlName="sector">
                <mat-option *ngFor="let sector of sectors" [value]="sector.id">
                  {{ sector.name }}
                </mat-option>
              </mat-select>
              <mat-hint>Elija el sector de aplicación</mat-hint>
              <mat-error *ngIf="controls['sector'].hasError('required')">
                El sector de aplicación es requerido
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-element">
            <mat-form-field>
              <mat-label>Hora de llegada</mat-label>
              <input type="time" matInput formControlName="arrivalTime" />
              <mat-hint>Digite la hora de llegada</mat-hint>
              <mat-error *ngIf="controls['arrivalTime'].hasError('required')">
                Se debe registrar la hora de llegada
              </mat-error>
            </mat-form-field>
          </div>
        </form>
        <div>
          <button
            mat-raised-button
            class="royal_azure"
            (click)="generateWorkOrder()"
          >
            Generar orden de trabajo
          </button>
        </div>
      </div>
      <div *ngIf="workOrder && workOrder.workOrderState == 0">
        <form [formGroup]="workOrderForm">
          <div
            class="form-element"
            style="margin-top: 3rem; align-items: center;"
          >
            <h4 class="text-center">Firma del cliente</h4>
            <digital-signature #digitalSignature></digital-signature>
            <mat-hint>Por favor digite la firma del cliente</mat-hint>
            <mat-error *ngIf="digitalSignature.isEmpty">
              La firma del cliente es obligatoria
            </mat-error>
          </div>
          <div>
            <button mat-button color="primary" (click)="clearSignaturePad()">
              Limpiar firma
            </button>
          </div>
        </form>
        <div>
          <button
            mat-raised-button
            class="royal_azure mr-4"
            (click)="confirmWorkOrder()"
          >
            Confirmar orden de trabajo
          </button>
          <button mat-stroked-button color="warn" (click)="cancelWorkOrder()">
            Cancelar orden de trabajo
          </button>
        </div>
      </div>
      <div *ngIf="workOrder && workOrder.workOrderState == 1">
        <form [formGroup]="workOrderForm">
          <div class="form-element">
            <mat-form-field>
              <mat-label>Hora de salida</mat-label>
              <input type="time" matInput formControlName="depatureTime" />
              <mat-hint>Digite la hora de salida</mat-hint>
              <mat-error *ngIf="controls['depatureTime'].hasError('required')">
                Debe registrar su hora de salida
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-element">
            <mat-form-field>
              <mat-label>Observaciones</mat-label>
              <textarea
                matInput
                #observations
                formControlName="observations"
                maxlength="500"
              ></textarea>
              <mat-hint align="start"
                >Escriba las obsevaciones de la orden de trabajo</mat-hint
              >
              <mat-hint align="end"
                >{{ observations.value.length }} /
                {{ observations.maxLength }}</mat-hint
              >
              <mat-error
                align="start"
                *ngIf="controls['observations'].hasError('required')"
              >
                El registro de las observaciones es requerido
              </mat-error>
            </mat-form-field>
          </div>
        </form>
        <button mat-raised-button class="royal_azure" (click)="saveWorkOrder()">
          Registrar orden de trabajo
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</section>
