<section class="container">
  <ng-container
    *ngIf="products$ | observableWithStatus | async as obs"
    [ngSwitch]="obs.status"
  >
    <ng-template [ngSwitchCase]="ObsStatus.Loading">
      <div class="center-block-content pt-5">
        <div class="center-flex-content">
          <mat-spinner></mat-spinner>
        </div>
        <h4 class="text-center mt-4 empty-list-text">Cargando productos...</h4>
      </div>
    </ng-template>
    <ng-template [ngSwitchCase]="ObsStatus.Success">
      <div class="text-center">
        <h1>Productos registrados</h1>
      </div>
      <div class="center-block-content">
        <div>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z6">
            <ng-container matColumnDef="code">
              <mat-header-cell *matHeaderCellDef>Código</mat-header-cell>
              <mat-cell *matCellDef="let product">{{
                product.code | uppercase
              }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
              <mat-cell *matCellDef="let product">{{ product.name }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="amount">
              <mat-header-cell *matHeaderCellDef>Cantidad</mat-header-cell>
              <mat-cell *matCellDef="let product">{{
                product.amount
              }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="presentation">
              <mat-header-cell *matHeaderCellDef>Presentación</mat-header-cell>
              <mat-cell *matCellDef="let product">{{
                product.presentation
              }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="price">
              <mat-header-cell *matHeaderCellDef>Precio</mat-header-cell>
              <mat-cell *matCellDef="let product">{{
                product.price | currency: "COP":"symbol-narrow"
              }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="months">
              <mat-header-cell *matHeaderCellDef
                >Meses de aplicacion</mat-header-cell
              >
              <mat-cell *matCellDef="let product">
                {{ product.applicationMonths | applicationMonths }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="options">
              <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
              <mat-cell *matCellDef="let product">
                <a
                  mat-icon-button
                  routerLink="/inventory/products/{{ product.code }}"
                  [matTooltip]="'Ver más información'"
                >
                  <mat-icon>visibility</mat-icon>
                </a>
                <a
                  mat-icon-button
                  routerLink="/inventory/products/edit/{{ product.code }}"
                  [matTooltip]="'Editar producto'"
                >
                  <mat-icon>edit</mat-icon>
                </a>
                <a mat-icon-button [matTooltip]="'Eliminar producto'">
                  <mat-icon>delete</mat-icon>
                </a>
              </mat-cell>
            </ng-container>
            <mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </table>
          <mat-paginator
            [pageSizeOptions]="[15, 30, 50, 100]"
            showFirstLastButtons
          ></mat-paginator>
        </div>
      </div>
    </ng-template>
  </ng-container>
</section>
