<section class="container">
  <ng-container
    *ngIf="products$ | observableWithStatus | async as obs"
    [ngSwitch]="obs.status"
  >
    <ng-template [ngSwitchCase]="ObsStatus.Loading">
      <div class="center-block-content pt-5">
        <div class="center-flex-content">
          <mat-spinner></mat-spinner>
        </div>
        <h4 class="text-center mt-4 empty-list-text">Cargando productos...</h4>
      </div>
    </ng-template>
    <ng-template [ngSwitchCase]="ObsStatus.Success">
      <div class="text-center">
        <h1>Productos registrados</h1>
      </div>
      <div class="center-block-content">
        <div>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z6">
            <ng-container matColumnDef="code">
              <th mat-header-cell *matHeaderCellDef>Código</th>
              <td mat-cell *matCellDef="let product">
                {{ product.code | uppercase }}
              </td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let product">{{ product.name }}</td>
            </ng-container>
            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef>Cantidad</th>
              <td mat-cell *matCellDef="let product">{{ product.amount }}</td>
            </ng-container>
            <ng-container matColumnDef="presentation">
              <th mat-header-cell *matHeaderCellDef>Presentación</th>
              <td mat-cell *matCellDef="let product">
                {{ product.presentation }}
              </td>
            </ng-container>
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef>Precio</th>
              <td mat-cell *matCellDef="let product">
                {{ product.price | currency: "COP":"symbol-narrow" }}
              </td>
            </ng-container>
            <ng-container matColumnDef="months">
              <th mat-header-cell *matHeaderCellDef>Meses de aplicacion</th>
              <td mat-cell *matCellDef="let product">
                {{ product.applicationMonths | applicationMonths }}
              </td>
            </ng-container>
            <ng-container matColumnDef="options">
              <th mat-header-cell *matHeaderCellDef>Opciones</th>
              <td mat-cell *matCellDef="let product">
                <a
                  class="table-actions-button"
                  mat-icon-button
                  routerLink="/inventory/products/{{ product.code }}"
                  [matTooltip]="'Ver más información'"
                >
                  <mat-icon>visibility</mat-icon>
                </a>
                <a
                  class="table-actions-button"
                  mat-icon-button
                  routerLink="/inventory/products/edit/{{ product.code }}"
                  [matTooltip]="'Editar producto'"
                >
                  <mat-icon>edit</mat-icon>
                </a>
                <a class="table-actions-button" mat-icon-button [matTooltip]="'Eliminar producto'">
                  <mat-icon>delete</mat-icon>
                </a>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <mat-paginator
            [pageSizeOptions]="[15, 30, 50, 100]"
            showFirstLastButtons
          ></mat-paginator>
        </div>
      </div>
    </ng-template>
  </ng-container>
</section>
