<section class="container">
  <div>
    <h1 class="text-center">Visitas pendientes</h1>
    <br />
    <h3>
      Estimado cliente, tiene pendiente
      {{ pendingActivities?.length }} actividades en el vigante año
      {{ date | date: "yyyy" }}.
    </h3>
  </div>
  <mat-divider></mat-divider>
  <div style="padding-top: 1.5rem;">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let activity of pendingActivities">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Actividad N°{{ activity.code }} en la fecha
            {{ activity.date | date: "MMMM d, y, h:mm a" }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <h2>Servicios solicitados</h2>
          <mat-list>
            <mat-list-item *ngFor="let service of activity.services">
              {{ service.code }} - {{ service.name }}
            </mat-list-item>
          </mat-list>
        </div>
        <mat-divider></mat-divider>
        <div style="margin-top: 1rem;">
          <h2>Empleados asignados</h2>
          <mat-list>
            <mat-list-item *ngFor="let employee of activity.employees">
              {{ employee.id }} - {{ employee.firstName }}
              {{ employee.lastName }}
            </mat-list-item>
          </mat-list>
        </div>
        <mat-action-row>
          <a
            mat-raised-button
            class="royal_azure"
            [routerLink]="['/activity_schedule/', activity.code]"
          >
            Ver más información
          </a>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>
