mat-toolbar.royal_azure a.active,
mat-toolbar.royal_azure a:hover {
  border-bottom: 1.5px solid white;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

mat-toolbar {
  background-color: #142454 !important;
}

.nav-main-content {
  display: inline-block;
}

.nav-main-content h2 {
  margin-right: 20px;
  text-align: center;
  vertical-align: middle;

  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
}

mat-toolbar a,
mat-toolbar button {
  color: white !important;
  border-bottom: 1.5px solid #142454;
}

.nav-main-header {
  display: inline-block;
  margin-right: 2rem;
}

.nav-main-header h2 {
  font-weight: lighter;
}

.nav-link {
  margin: 0 4px;
}
