mat-toolbar.royal_azure a.active {
  background-color: var(--blue_ryb);
}

.nav-main-content {
  display: inline-block;
}

.nav-main-content h2 {
  margin-right: 20px;
  text-align: center;
  vertical-align: middle;

  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
}

mat-toolbar a,
mat-toolbar button {
  color: white !important;
}

.nav-main-header {
  display: inline-block;
  margin-right: 16px;
}

.nav-main-header h2 {
  font-weight: lighter;
}

.nav-link {
  margin: 0 4px;
}
