<mat-toolbar class="royal_azure">
  <div class="nav-main-header" routerLink="/">
    <h2 class="mat-title">Ecolplag</h2>
  </div>
  <div class="nav-main-content" fxShow="true" fxHide.xs>
    <a
      class="nav-link"
      mat-button
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Inicio
    </a>
    <a
      class="nav-link"
      mat-button
      routerLink="/ourservices"
      routerLinkActive="active"
    >
      Nuestros servicios
    </a>
    <a
      class="nav-link"
      mat-button
      routerLink="/about"
      routerLinkActive="active"
    >
      ¿Quiénes somos?
    </a>
  </div>
  <div class="spacer"></div>
  <div class="nav-secondary-content">
    <a
      class="nav-link"
      mat-button
      routerLink="/clients/new/register"
      routerLinkActive="active"
      *ngIf="!isLogged"
    >
      Registrarme
    </a>
    <a
      class="nav-link"
      mat-button
      routerLink="/user/login"
      routerLinkActive="active"
      *ngIf="!isLogged"
    >
      Iniciar sesión
    </a>
    <a
      class="nav-link"
      mat-button
      routerLink="/user/profile"
      routerLinkActive="active"
      *ngIf="isLogged"
      fxShow="true"
      fxHide.xs
    >
      Perfil
    </a>
    <a
      class="nav-link"
      mat-button
      (click)="onLogout()"
      [appLoadingButton]="isLogout"
      [disabled]="isLogout"
      *ngIf="isLogged"
      fxShow="true"
      fxHide.xs
    >
      Cerrar sesión
    </a>
    <button
      *ngIf="isLogged"
      mat-icon-button
      [matMenuTriggerFor]="menu"
      fxHide
      fxShow.xs
    >
      <mat-icon>apps</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a *ngIf="isLogged" mat-menu-item routerLink="/user/profile">
        <mat-icon>account_circle</mat-icon>
        <span>Perfil de usuario</span>
      </a>
      <button *ngIf="isLogged" mat-menu-item (click)="onLogout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar sesión</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
