.client-state-0 {
  color: white;
  background: var(--sizzling_sunrise);
}

.client-state-2 {
  color: white;
  background: var(--vivid_red);
}

.client-state-3, .client-state-1 {
  color: white;
  background: var(--forest-green-web);
}
