<section class="container">
  <ng-container
    *ngIf="clients$ | observableWithStatus | async as obs"
    [ngSwitch]="obs.status"
  >
    <ng-template [ngSwitchCase]="ObsStatus.Loading">
      <div class="center-block-content pt-5">
        <div class="center-flex-content">
          <mat-spinner></mat-spinner>
        </div>
        <h4 class="text-center mt-4 empty-list-text">Cargando clientes...</h4>
      </div>
    </ng-template>
    <ng-template [ngSwitchCase]="ObsStatus.Success">
      <div class="text-center">
        <h1>Clientes registrados</h1>
      </div>
      <div class="center-block-content">
        <div class="form-element search-field">
          <mat-form-field>
            <mat-label>Buscar cliente</mat-label>
            <input
              matInput
              #search
              type="text"
              placeholder="Buscar un cliente"
              (keyup)="applyFilter($event.target.value)"
            />
          </mat-form-field>
        </div>
        <div>
          <table
            mat-table
            [dataSource]="dataSource"
            matSort
            class="mat-elevation-z6"
          >
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                >Identificación</mat-header-cell
              >
              <mat-cell *matCellDef="let client">{{ client.id }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef
                >Nombre completo</mat-header-cell
              >
              <mat-cell *matCellDef="let client"
                >{{ client.firstName }} {{ client.secondName }}
                {{ client.lastName }} {{ client.secondLastName }}</mat-cell
              >
            </ng-container>
            <ng-container matColumnDef="clientType">
              <mat-header-cell *matHeaderCellDef
                >Tipo de cliente</mat-header-cell
              >
              <mat-cell *matCellDef="let client">{{
                client.clientType == "JuridicPerson"
                  ? "Persona jurídica"
                  : "Persona natural"
              }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="phonenumber">
              <mat-header-cell *matHeaderCellDef
                >Número de teléfono</mat-header-cell
              >
              <mat-cell *matCellDef="let client">
                {{ client.firstPhoneNumber }}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="options">
              <mat-header-cell *matHeaderCellDef> Opciones </mat-header-cell>
              <mat-cell *matCellDef="let client">
                <a
                  mat-icon-button
                  routerLink="/clients/{{ client.id }}"
                  [matTooltip]="'Ver más información'"
                >
                  <mat-icon>visibility</mat-icon>
                </a>
                <a mat-icon-button [matTooltip]="'Editar cliente'">
                  <mat-icon>edit</mat-icon>
                </a>
                <a mat-icon-button [matTooltip]="'Eliminar cliente'">
                  <mat-icon>delete</mat-icon>
                </a>
              </mat-cell>
            </ng-container>
            <mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </table>
          <mat-paginator
            [pageSizeOptions]="[15, 30, 50, 100]"
            showFirstLastButtons
          ></mat-paginator>
        </div>
      </div>
    </ng-template>
  </ng-container>
</section>
