<section class="container">
  <ng-container
    *ngIf="equipments$ | observableWithStatus | async as obs"
    [ngSwitch]="obs.status"
  >
    <ng-template [ngSwitchCase]="ObsStatus.Loading">
      <div class="center-block-content pt-5">
        <div class="center-flex-content">
          <mat-spinner></mat-spinner>
        </div>
        <h4 class="text-center mt-4 empty-list-text">Cargando equipos...</h4>
      </div>
    </ng-template>
    <ng-template [ngSwitchCase]="ObsStatus.Success">
      <div class="text-center">
        <h1>Equipos registrados</h1>
      </div>
      <div class="center-block-content">
        <div class="form-element"></div>
        <div>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z6">
            <ng-container matColumnDef="code">
              <th mat-header-cell *matHeaderCellDef>Código</th>
              <td mat-cell *matCellDef="let equipment">{{ equipment.code }}</td>
            </ng-container>
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let equipment">{{ equipment.name }}</td>
            </ng-container>
            <ng-container matColumnDef="maintenanceDate">
              <th mat-header-cell *matHeaderCellDef>
                Fecha de compra/mantenimiento
              </th>
              <td mat-cell *matCellDef="let equipment">
                {{ equipment.maintenanceDate | date: "dd/MM/yyyy" }}
              </td>
            </ng-container>
            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef>Cantidad</th>
              <td mat-cell *matCellDef="let equipment">
                {{ equipment.amount }}
              </td>
            </ng-container>
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef>Precio</th>
              <td mat-cell *matCellDef="let equipment">
                {{ equipment.price | currency: "COP":"symbol-narrow" }}
              </td>
            </ng-container>
            <ng-container matColumnDef="options">
              <th mat-header-cell *matHeaderCellDef>Opciones</th>
              <td mat-cell *matCellDef="let equipment">
                <a
                  class="table-actions-button"
                  mat-icon-button
                  routerLink="/inventory/equipments/{{ equipment.code }}"
                  [matTooltip]="'Ver más información'"
                >
                  <mat-icon>visibility</mat-icon>
                </a>
                <a
                  class="table-actions-button"
                  mat-icon-button
                  routerLink="/inventory/equipments/edit/{{ equipment.code }}"
                  [matTooltip]="'Editar equipo'"
                >
                  <mat-icon>edit</mat-icon>
                </a>
                <a
                  class="table-actions-button"
                  mat-icon-button
                  [matTooltip]="'Eliminar equipo'"
                  (click)="deleteEquipment(equipment)"
                >
                  <mat-icon>delete</mat-icon>
                </a>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <mat-paginator
            [pageSizeOptions]="[15, 30, 50, 100]"
            showFirstLastButtons
          ></mat-paginator>
        </div>
      </div>
    </ng-template>
  </ng-container>
</section>
