.dashboard-content {
  margin-top: 30px;
  padding-left: 24px;
  padding-right: 24px;
}

.nav-caption {
  display: inline-block;
  padding-left: 7px;
}

.sidenav,
.sidenav .mat-toolbar,
.dashboard-toolbar {
  background: #142454 !important;
  color: white !important;
}

mat-nav-list * {
  color: white !important;
}

a.sidenav-link:hover {
  background: #162250 !important;
  color: #f7f7f2 !important;
}

.dashboard-link-active {
  background: #0f1a3e;
}

.dashboard-expansion-panel,
.dashboard-expansion-panel * {
  background: #142454;
  color: white !important;
}

.mat-expansion-indicator::after,
.mat-expansion-indicator {
  color: white !important;
  display: none;
}

.dashboard-expansion-panel mat-panel-title {
  color: white !important;
}

.dashboard-expansion-panel mat-nav-list mat-icon {
  margin-right: 7px;
}

.map-link:hover {
  color: var(--gainsboro);
}
