<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
    [class.mat-elevation-z6]="true"
  >
    <mat-toolbar>
      Menu
      <div class="spacer"></div>
      <button
        mat-icon-button
        (click)="closeSidenav()"
        [matTooltip]="'Cerrar barra lateral'"
      >
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <div *ngFor="let menuOption of menuOptions">
        <a
          class="sidenav-link"
          *ngIf="!menuOption.isMenu"
          mat-list-item
          [routerLink]="menuOption.url"
        >
          <mat-icon>{{ menuOption.iconName }}</mat-icon>
          <span class="nav-caption">{{ menuOption.title }}</span>
        </a>
        <mat-expansion-panel
          *ngIf="menuOption.isMenu"
          hideToggle="true"
          [class.mat-elevation-z0]="true"
          dense
          class="dashboard-expansion-panel"
        >
          <mat-expansion-panel-header>
            <mat-icon>{{ menuOption.iconName }}</mat-icon>
            <span class="nav-caption">{{ menuOption.title }}</span>
          </mat-expansion-panel-header>
          <mat-nav-list dense>
            <a
              class="sidenav-link"
              *ngFor="let menuItem of menuOption?.subMenu"
              mat-list-item
              [routerLink]="menuItem.url"
            >
              <mat-icon>{{ menuItem.iconName }}</mat-icon>
              {{ menuItem.title }}
            </a>
          </mat-nav-list>
        </mat-expansion-panel>
      </div>
    </mat-nav-list>
    <mat-nav-list>
      <a
        class="sidenav-link"
        mat-list-item
        routerLink="/user/edit"
        routerLinkActive="dashboard-link-active"
      >
        <mat-icon>settings</mat-icon>
        <span class="nav-caption">Datos de acceso</span>
      </a>
      <a class="sidenav-link" mat-list-item (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
        <span class="nav-caption">Cerrar sesión</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="dashboard-toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="toggleSidenav()"
        *ngIf="(isHandset$ | async) || isSidenavClose"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Ecolplag</span>
      <div class="spacer"></div>
      <button mat-icon-button [matTooltip]="'Notificaciones'">
        <mat-icon>notifications</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="accountMenu" [matTooltip]="'Opciones de cuenta'">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #accountMenu="matMenu">
        <a mat-menu-item routerLink="/user/profile">
          <mat-icon>face</mat-icon>
          <span>Mi perfil</span>
        </a>
        <a mat-menu-item routerLink="/user/edit">
          <mat-icon>settings</mat-icon>
          <span>Datos de acceso</span>
        </a>
        <button mat-menu-item (click)="logout()">
          <mat-icon>power_settings_new</mat-icon>
          <span class="nav-caption">Cerrar sesión</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <div style="margin-top: 30px">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
