/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

* {
  --yellow_sunshine: #fffb16;
  --electric_yellow: #fffb33;
  --maize: #ffeb70;
  --sizzling_sunrise: #ffdb00;
  --spring_green: #16ff87;
  --vivid_malachite: #14cc14;
  --wageningen_green: #2fb927;
  --wageningen_green_2: #3caf3c;
  --go_green: #00cc66;
  --caribbean_green: #18c29c;
  --lime_green: #48d525;
  --dodger_blue: #168fff;
  --blue_ryb: #004ce5;
  --blue_crayola: #2062e8;
  --royal_azure: #0039ac;
  --new_car: #2059cc;
  --lapis_lazuli: #2274a5;
  --blue_shappire: #126872;
  --orange_red: #ff3f00;
  --international_orange: #fe4e00;
  --rosewood: #5a0001;
  --sunset_orange: #f35d59;
  --vivid_red: #f00713;
  --rosso_corsa: #da0711;
  --isabelline: #f5efed;
  --anti_flash_white: #f2f2f2;
  --silver: #bfbfbf;
  --gainsboro: #d9d9d9;
  --xanadu: #728972;
  --grullo: #a99b98;
  --rich_black: #07393d;
  --licorice: #141115;
  --arsenic: #3f4042;
  --rich_black_fogra29: #00091d;
  --moss_green: #9d9158;
  --ciber_grape: #6d548c;
  --dark-cornflower-blue: hsla(220, 60%, 36%, 1);
  --forest-green-web: hsla(140, 76%, 31%, 1);
  --green-blue-crayola: hsla(201, 96%, 43%, 1);
  --powder-blue: hsla(167, 40%, 82%, 1);
  --cultured: hsla(0, 9%, 98%, 1);
  --white: hsla(0, 0%, 100%, 1);
}

a {
  color: #0366d6;
  text-decoration: none !important;
}

a:active,
a,
button:active,
button {
  outline: none !important;
}

*::-webkit-scrollbar {
  width: 0%;
}

.form-element,
input,
mat-form-field {
  width: 100%;
  font-size: initial !important;
}

.form-element table {
  width: 100%;
}

.form-element table td {
  padding-right: 8px;
}

.form-select {
  width: 100%;
}

.form-buttons {
  padding-top: 1.5rem;
}

.form-buttons button {
  margin-right: 0.7rem;
}

.form-row {
  display: flex;
  flex-direction: row;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.form-col {
  flex: 1;
  margin-right: 0;
}

.form-col:last-child {
  margin-right: 0;
}

@media (min-width: 525px) {
  .form-col {
    margin-right: 1.5rem;
  }

  .form-select {
    width: 50%;
  }
}

.search-field {
  float: right;
  max-width: 300px;
}

.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-stepper-vertical .mat-form-field {
  margin-top: 16px;
}

.mat-stepper-vertical button {
  margin-right: 10px;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
}

app-nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

mat-card {
  min-width: 250px;
}

mat-cell a:hover {
  color: initial !important;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.center-flex-content {
  display: flex;
  justify-content: center;
}

.center-block-content {
  display: block;
  margin: 0 auto;
}

.center-element {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.full-width {
  width: 100%;
}

.mat-form-field + .mat-slide-toggle {
  margin-top: 0.7rem;
}

.royal_azure,
.royal_azure:hover {
  background: var(--royal_azure);
  color: white;
}

.container {
  margin-top: 40px;
  min-height: 405px;
}

.spacer {
  flex: 1 1 auto;
}

.calendar-control,
.calendar-header {
  display: inline-block;
}

.calendar-header {
  margin-bottom: 7px;
  width: 100%;
}

.calendar {
  margin-top: 1rem;
}

.different-month {
  color: var(--silver);
}

#mision,
#vision {
  background-color: #f0f0f0;
  min-height: 270px;
  margin-bottom: 15px;
}

table {
  width: 100%;
}

.error-icon,
.success-icon {
  font-size: 70px !important;
  width: 70px !important;
  height: 70px !important;
}

.success-icon {
  color: var(--forest-green-web);
}

.success-button {
  background: var(--forest-green-web);
  color: white;
}

.mat-loading .mat-progress-spinner {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
}

.user-card {
  min-height: 100vh;
  width: auto;
  flex-grow: 1;
  overflow: hidden;
}

@media (min-width: 601px) {
  .user-card {
    border: 1px solid #dadce0;
    border-radius: 8px;
    min-height: 500px;
    width: 450px;
  }
}

/*Animaciones bonitas UwU*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
