/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

* {
  --yellow_sunshine: #fffb16;
  --electric_yellow: #fffb33;
  --maize: #ffeb70;
  --sizzling_sunrise: #ffdb00;
  --spring_green: #16ff87;
  --vivid_malachite: #14cc14;
  --wageningen_green: #2fb927;
  --wageningen_green_2: #3caf3c;
  --go_green: #00cc66;
  --caribbean_green: #18c29c;
  --lime_green: #48d525;
  --dodger_blue: #168fff;
  --blue_ryb: #004ce5;
  --blue_crayola: #2062e8;
  --royal_azure: #0039ac;
  --new_car: #2059cc;
  --lapis_lazuli: #2274a5;
  --blue_shappire: #126872;
  --orange_red: #ff3f00;
  --international_orange: #fe4e00;
  --rosewood: #5a0001;
  --sunset_orange: #f35d59;
  --vivid_red: #f00713;
  --isabelline: #f5efed;
  --anti_flash_white: #f2f2f2;
  --silver: #bfbfbf;
  --gainsboro: #d9d9d9;
  --xanadu: #728972;
  --grullo: #a99b98;
  --rich_black: #07393d;
  --licorice: #141115;
  --arsenic: #3f4042;
  --rich_black_fogra29: #00091d;
}

a {
  color: #0366d6;
  text-decoration: none !important;
}

a:active,
a,
button:active,
button {
  outline: none !important;
}

a:active,
button:active {
  border: none !important;
}

*::-webkit-scrollbar {
  width: 0%;
}

.form-element,
input,
mat-form-field {
  width: 100%;
  font-size: initial !important;
}

.form-element {
  margin-bottom: 17px;
}

.form-element table {
  width: 100%;
}

.form-element table td {
  padding-right: 8px;
}

.form-select {
  width: 50%;
}

.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-stepper-vertical .mat-form-field {
  margin-top: 16px;
}

.mat-stepper-vertical button {
  margin-right: 10px;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}

.filter-input {
  float: right;
  margin-bottom: 10px;
  margin-right: 20px;
  max-width: 350px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  position: absolute;
  top: 56px;
  bottom: 0;
  left: 0;
  right: 0;
}

app-nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

mat-card {
  min-width: 250px;
}

.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.center-flex-content {
  display: flex;
  justify-content: center;
}

.center-block-content {
  display: block;
  margin: 0 auto;
}

.center-element {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.royal_azure {
  background: var(--royal_azure);
}

.royal_azure {
  color: white !important;
}

.container {
  margin-top: 40px;
  min-height: 405px;
}

.separator {
  height: 0.5px;
  background: lightgrey;
  width: 100%;
  margin-top: 0.5px;
  margin-bottom: 2rem;
}

#mision,
#vision {
  background-color: #f0f0f0;
  min-height: 270px;
  margin-bottom: 15px;
}

table {
  width: 100%;
}

/*Animaciones bonitas UwU*/

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
