/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
  text-decoration: none !important;
}

*, *:active {
  outline: none !important;
  border: none !important;
}

.form-element, input, mat-form-field {
  width: 100%;
}

.form-element {
  margin-bottom: 17px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
