<main>
  <app-header></app-header>
  <article>
    <div class="home-rows">
      <div layout="row" layout-xs="column" class="home-row">
        <div class="promo-img">
          <div>
            <img src="/assets/images/EmployeeAsset_01.svg" alt="Misión" />
          </div>
        </div>
        <div class="text-container">
          <div class="text-block">
            <div class="text-headline">Nuestra misión</div>
            <p class="text-body">
              <strong>ECOLPLAG S.A.S.</strong> es una empresa dedicada a la
              prestación de servicios en prevención y manejo integrado de
              plagas, control de fauna doméstica y silvestre, además de otras
              actividades de limpieza y desinfección, en todos los sectores
              económicos; utilizando técnicas innovadoras de alta calidad,
              talento humano calificado, tecnología de punta, costos
              competitivos y cuidado del medio ambiente.
            </p>
          </div>
        </div>
      </div>

      <div layout="row" layout-xs="column" class="home-row">
        <div class="text-container">
          <div class="text-block">
            <div class="text-headline">Nuestra visión</div>
            <p class="text-body">
              <strong>ECOLPLAG S.A.S.</strong> se proyecta como una empresa
              líder a nivel regional y nacional en la prestación de servicios
              para los diferentes sectores económicos, manteniendo los más altos
              estándares de confiabilidad, seguridad y calidad de servicio.
            </p>
          </div>
        </div>
        <div class="promo-img">
          <div>
            <img src="/assets/images/HandWithPlant.svg" alt="Misión" />
          </div>
        </div>
      </div>
    </div>
    <hr />
    <app-ourservices></app-ourservices>
  </article>
</main>
