#img1{
    padding-top: 12%;
    padding-left: 10%;
}
#img2{
    padding-top: 50%;
    padding-left: 10%;
}
#img3{
    padding-top: 40%;
    padding-left: 10%;
}
#img4{
    padding-top: 50%;
    padding-left: 10%;
}
#img5{
    padding-top: 45%;
    padding-left: 10%;
}
#img6{
    padding-top: 25%;
    padding-left: 10%;
}