<main>
  <app-header></app-header>
    <div class="container">
      <main>
        <div class="center-content">
          <div class="row">
            <div class="col col-lg-6 col-sm-12">
              <mat-card id="mision">
                <mat-card-header class="center-flex-content">
                  <mat-card-title>Misión</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    <strong>ECOLPLAG S.A.S.</strong> es una empresa dedicada a la prestación de servicios en prevención y manejo integrado de plagas, control de fauna doméstica y silvestre, además de otras actividades de limpieza y desinfección,
                    en todos los sectores económicos; utilizando técnicas innovadoras de alta calidad, talento humano calificado, tecnología de punta, costos competitivos y cuidado del medio ambiente.
                    </p>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col col-lg-6 col-sm-12">
              <mat-card id="vision">
                <mat-card-header class="center-flex-content">
                  <mat-card-title>Visión</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>
                    <strong>ECOLPLAG S.A.S.</strong> se proyecta como una empresa líder a nivel regional y nacional en la prestación de servicios para los diferentes sectores económicos, manteniendo los más altos estándares de confiabilidad,
                    seguridad y calidad de servicio.
                    </p>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
        <section>
          <div class="center-text">
            <h2>Disponemos de servicios como:</h2>
            <div class="card-columns animated fadeIn fast">
              <div class="card mb-3" style="max-width: 540px;" class="card alert-dark">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <div id="img1">
                        <img src="assets/images/lavado.jpg" class="card-img" alt="Card imagen cap">
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <p class="card-text" class="text-center">Lavado y desinfección de tanques de agua.</p>
                      <button type="button" class="btn btn-outline-primary btn-block" routerLink="/ourservices">
                        Más info.
                      </button>
                      <button type="button" class="btn btn-outline-primary btn-block" routerLink="/service_requests/register">
                        Solicitar servicio
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" style="max-width: 540px;" class="card alert-dark">
                <div class="row no-gutters">
                  <div class="col-md-4">
                      <div id="img2">
                        <img src="assets/images/controlPlagas.jpg" class="card-img" alt="Card imagen cap">
                      </div>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <p class="card-text" class="text-center">Control de plagas.</p><br>
                      <button type="button" class="btn btn-outline-primary btn-block" routerLink="/ourservices">
                        Más info.
                      </button>
                      <button type="button" class="btn btn-outline-primary btn-block" routerLink="/service_requests/register">
                        Solicitar servicio
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" style="max-width: 540px;" class="card alert-dark">
                <div class="row no-gutters">
                  <div class="col-md-4">
                      <div id="img3">
                        <img src="assets/images/jardineria.jpg" class="card-img" alt="Card imagen cap">
                      </div>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <p class="card-text" class="text-center">Jardinería.</p><br>
                      <button type="button" class="btn btn-outline-primary btn-block" routerLink="/ourservices">
                        Más info.
                      </button>
                      <button type="button" class="btn btn-outline-primary btn-block" routerLink="/service_requests/register">
                        Solicitar servicio
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" style="max-width: 540px;" class="card alert-dark">
                <div class="row no-gutters">
                  <div class="col-md-4">
                      <div id="img4">
                        <img src="assets/images/saneamiento.jpg" class="card-img" alt="Card imagen cap">
                      </div>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <p class="card-text" class="text-center">Saneamiento de lugares.</p><br>
                      <button type="button" class="btn btn-outline-primary btn-block" routerLink="/ourservices">
                        Más info.
                      </button>
                      <button type="button" class="btn btn-outline-primary btn-block" routerLink="/service_requests/register">
                        Solicitar servicio
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" style="max-width: 540px;" class="card alert-dark">
                <div class="row no-gutters">
                  <div class="col-md-4">
                      <div id="img5">
                        <img src="assets/images/limpieza.jpg" class="card-img" alt="Card imagen cap">
                      </div>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <p class="card-text" class="text-center">Limpieza de espacios.</p><br>
                      <button type="button" class="btn btn-outline-primary btn-block" routerLink="/ourservices">
                        Más info.
                      </button>
                      <button type="button" class="btn btn-outline-primary btn-block" routerLink="/service_requests/register">
                        Solicitar servicio
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card mb-3" style="max-width: 540px;" class="card alert-dark">
                <div class="row no-gutters">
                  <div class="col-md-4">
                      <div id="img6">
                        <img src="assets/images/captura.png" class="card-img" alt="Card imagen cap">
                      </div>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <p class="card-text" class="text-center">Rehabilitación de animales domésticos y silvestres.</p>
                      <button type="button" class="btn btn-outline-primary btn-block" routerLink="/ourservices">
                        Más info.
                      </button>
                      <button type="button" class="btn btn-outline-primary btn-block" routerLink="/service_requests/register">
                        Solicitar servicio
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
</main>