<main>
  <app-header></app-header>
  <article>
    <div class="home-rows">
      <div layout="row" layout-xs="column" class="home-row">
        <div class="promo-img">
          <div>
            <img
              src="/assets/images/EmployeeAsset_01.svg"
              height="222"
              width="330"
              alt="Misión"
            />
          </div>
        </div>
        <div class="text-container">
          <div class="text-block">
            <div class="text-headline">Nuestra misión</div>
            <p class="text-body">
              <strong>ECOLPLAG S.A.S.</strong> es una empresa dedicada a la
              prestación de servicios en prevención y manejo integrado de
              plagas, control de fauna doméstica y silvestre, además de otras
              actividades de limpieza y desinfección, en todos los sectores
              económicos; utilizando técnicas innovadoras de alta calidad,
              talento humano calificado, tecnología de punta, costos
              competitivos y cuidado del medio ambiente.
            </p>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div layout="row" layout-xs="column" class="home-row">
        <div class="text-container">
          <div class="text-block">
            <div class="text-headline">Nuestra visión</div>
            <p class="text-body">
              <strong>ECOLPLAG S.A.S.</strong> se proyecta como una empresa
              líder a nivel regional y nacional en la prestación de servicios
              para los diferentes sectores económicos, manteniendo los más altos
              estándares de confiabilidad, seguridad y calidad de servicio.
            </p>
          </div>
        </div>
        <div class="promo-img">
          <div>
            <img
              src="/assets/images/HandWithPlant.svg"
              height="222"
              width="270"
              alt="Misión"
            />
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="our-services">
      <h1 class="text-center text-capitalize mat-h1" style="font-size: 32px;">
        Nuestros servicios
      </h1>
      <div>
        <div layout="row" layout-xs="column" class="home-row">
          <div class="promo-img">
            <div>
              <img
                src="/assets/images/EmployeeAsset_02.svg"
                height="222"
                width="270"
                alt="Misión"
              />
            </div>
          </div>
          <div class="text-container">
            <div class="text-block">
              <div class="text-headline">
                Control de plagas
              </div>
              <p class="text-body">
                Servicio dedicado al control de plagas como: ratas, cucarachas,
                mosquitos, ácaros, serpientes, y muchas más.
              </p>
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div layout="row" layout-xs="column" class="home-row">
          <div class="text-container">
            <div class="text-block">
              <div class="text-headline">
                Desinfección de ambientes y superficies
              </div>
              <p class="text-body">
                Lavado y desinfección de tanques de agua.
              </p>
            </div>
          </div>
          <div class="promo-img">
            <div>
              <img
                src="/assets/images/HandWithPlant.svg"
                height="222"
                width="270"
                alt="Misión"
              />
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div layout="row" layout-xs="column" class="home-row">
          <div class="promo-img">
            <div>
              <img
                src="/assets/images/HandWithPlant.svg"
                height="222"
                width="270"
                alt="Misión"
              />
            </div>
          </div>
          <div class="text-container">
            <div class="text-block">
              <div class="text-headline">
                Captura y reubicación de animales
              </div>
              <p class="text-body">
                Servicio dedicado a la captura y rehabilitación de animales
                demésticos o fauna silvestre que necesiten cambiar de
                ecosistema.
              </p>
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div layout="row" layout-xs="column" class="home-row">
          <div class="text-container">
            <div class="text-block">
              <div class="text-headline">
                Matenimiento de sistemas y equipos
              </div>
              <p class="text-body">
                Lavado y desinfección de tanques de agua.
              </p>
            </div>
          </div>
          <div class="promo-img">
            <div>
              <img
                src="/assets/images/HandWithPlant.svg"
                height="222"
                width="270"
                alt="Misión"
              />
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div layout="row" layout-xs="column" class="home-row">
          <div class="promo-img">
            <div>
              <img
                src="/assets/images/Garden.svg"
                height="222"
                width="270"
                alt="Misión"
              />
            </div>
          </div>
          <div class="text-container">
            <div class="text-block">
              <div class="text-headline">
                Jardinería
              </div>
              <p class="text-body">
                Servicio dedicado al cultivo de plantas y cuidado de estas.
                Asímsimo, fumigación para mantenerlas a salvo de las diversas
                plagas que las acfectan.
              </p>
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div layout="row" layout-xs="column" class="home-row">
          <div class="text-container">
            <div class="text-block">
              <div class="text-headline">
                Suministro, instalación y mantenimiento de equipos
              </div>
              <p class="text-body">
                Suministro, instalación y mantenimiento de equipos
              </p>
            </div>
          </div>
          <div class="promo-img">
            <div>
              <img
                src="/assets/images/HandWithPlant.svg"
                height="222"
                width="270"
                alt="Misión"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</main>
