<mat-card class="mat-elevation-z" *ngIf="activity">
  <mat-card-header>
    <mat-card-title>
      Actividad N° {{ activity.code }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-card-info-item title="Cliente" icon="person">
      {{ activity.client.tradeName }}
    </app-card-info-item>
    <mat-divider inset></mat-divider>
    <app-card-info-item title="Fecha" icon="today">
      {{ activity.date | date: "MMMM d, y, h:mm a" }}
    </app-card-info-item>
    <mat-divider inset></mat-divider>
    <app-card-info-item title="Periodicidad" icon="repeat">
      {{ activity.periodicity | periodicity }}
    </app-card-info-item>
  </mat-card-content>
  <mat-card-actions>
    <a
      mat-raised-button
      class="royal_azure"
      routerLink="/activity_schedule/{{ activity.code }}"
    >
      Ver más
    </a>
  </mat-card-actions>
</mat-card>
