<mat-card class="mat-elevation-z">
  <mat-card-title class="text-center">
    <h3 class="text-center">Actividad N° {{ activity.code }}</h3>
  </mat-card-title>
  <mat-card-content>
    <span>
      Actividad para el cliente
      <strong
        >{{ activity.client.firstName }} {{ activity.client.lastName }}</strong
      >
      con nombre comercial de
      <strong>{{ activity.client.tradeName }}</strong
      >.
    </span>
    <span>
      Para la fecha
      <strong>{{ activity.date | date: "MMMM d, y, h:mm a" }}</strong
      >. Con una periodicidad {{ activity.periodicity | periodicity }}.
    </span>
  </mat-card-content>
  <mat-card-actions>
    <a
      mat-raised-button
      class="royal_azure"
      routerLink="/activity_schedule/{{ activity.code }}"
    >
      Ver más
    </a>
  </mat-card-actions>
</mat-card>
