<div class="card mb-3">
  <img src="assets/images/banner.jpg" class="card-img-top" />
</div>
<div class="text-center">
  <div class="card-columns animated fadeIn fast">
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <h1 class="card-title"><strong>¿Quiénes somos?</strong></h1>
        <p class="card-text">
          Somos una empresa con más de 10 años de experiencia en el mercado que se
          dedica al servicio de control de plagas, saneamiento, limpieza de
          espacios, lavado y desinfección de tanques de agua, captura y
          rehabilitación de animales domésticos, jardinería, entre otros.
        </p>
      </div>
    </div>
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <h1 class="card-title"><strong>¿Dónde estamos?</strong></h1>
        <p class="card-text">
          Nos encontramos ubicados en la Calle 6c #19-46, Los Músicos, Valledupar,
          Cesar, Colombia.
        </p>
      </div>
    </div>
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <h1 class="card-title"><strong>¡Comunícate con nosotros!</strong></h1>
        <p class="card-text">
          Puedes hablar con uno de nuestros asesores llamando al
          <strong>+57 310 4538739</strong>. O también puedes enviarnos un mensaje.
        </p>
        <a href="contact" class="btn btn-primary">Enviar mensaje</a>
      </div>
    </div>
  </div>
</div>