<div>
  <div class="home-rows">
    <div layout="row" layout-xs="column" class="home-row">
      <div class="text-container">
        <div class="text-block">
          <div class="text-headline">¿Quiénes somos?</div>
          <p class="text-body">
            Somos una empresa con más de 10 años de experiencia en el mercado
            que se dedica al servicio de control de plagas, saneamiento,
            limpieza de espacios, lavado y desinfección de tanques de agua,
            captura y rehabilitación de animales domésticos, jardinería, entre
            otros.
          </p>
        </div>
      </div>
      <div class="promo-img">
        <div>
          <img
            src="/assets/images/not_listed_location.svg"
            alt="Quiénes somos"
          />
        </div>
      </div>
    </div>
    <div layout="row" layout-xs="column" class="home-row">
      <div class="promo-img">
        <div>
          <img
            src="/assets/images/place.svg"
            alt="Donde estamos"
            style="color: white"
          />
        </div>
      </div>
      <div class="text-container">
        <div class="text-block">
          <div class="text-headline">¿Dónde estamos?</div>
          <p class="text-body">
            Nos encontramos ubicados en la Calle 6c #19-46, Los Músicos,
            Valledupar, Cesar, Colombia.
          </p>
        </div>
      </div>
    </div>
    <div layout="row" layout-xs="column" class="home-row">
      <div class="text-container">
        <div class="text-block">
          <div class="text-headline">¡Comunícate con nosotros!</div>
          <p class="text-body">
            Puedes hablar con uno de nuestros asesores llamando al
            <br />
            <span style="font-size: 16px">310 4538739</span>
          </p>
        </div>
      </div>
      <div class="promo-img">
        <div>
          <img src="/assets/images/ring_volume.svg" alt="Contactanos" />
        </div>
      </div>
    </div>
  </div>
</div>
