<button mat-icon-button [matTooltip]="'Notificaciones'" [matMenuTriggerFor]="notificationsMenu">
  <mat-icon [matBadge]="notifications.length" [matBadgeHidden]="notifications.length === 0">notifications</mat-icon>
</button>
<mat-menu #notificationsMenu="matMenu">
  <ng-container
    *ngIf="notifications$ | observableWithStatus | async as obs"
    [ngSwitch]="obs.status"
  >
    <ng-template [ngSwitchCase]="ObsStatus.Loading">
      <div class="center-block-content pt-5 mr-3 ml-3">
        <div class="center-flex-content">
          <mat-spinner></mat-spinner>
        </div>
        <h4 class="text-center mt-4 empty-list-text">Cargando notificationes</h4>
      </div>
    </ng-template>
    <ng-template [ngSwitchCase]="ObsStatus.Success">
      <div mat-menu-item class="notification-button" *ngFor="let notification of notifications">
        <div class="icon-text-container">
          <mat-icon>{{ notification.icon }}</mat-icon>
          <span>
        {{ notification.title }}
            <small>
          {{ notification.message }}
        </small>
      </span>
        </div>
        <div class="spacer"></div>
        <a
          mat-icon-button
          *ngIf="notification.url; else notUrl"
          [routerLink]="notification.url"
          (click)="onViewOrDeleteNotification(notification)">
          <mat-icon>visibility</mat-icon>
        </a>
        <ng-template #notUrl>
          <button mat-icon-button (click)="onViewOrDeleteNotification(notification)">
            <mat-icon [matTooltip]="'Eliminar notificación'">delete</mat-icon>
          </button>
        </ng-template>
      </div>
      <div *ngIf="notifications.length == 0">
        <div class="pt-2 pb-2 pr-2 pl-2">
          <img
            src="/assets/images/relax_people.svg"
            alt="Empty list"
            width="230"
            height="230"
            class="center-block-content"
          />
          <h4 class="text-center empty-list-text">
            No tienes notificaciones.
          </h4>
        </div>
      </div>
    </ng-template>
  </ng-container>
</mat-menu>
