<section class="container center-element p-4">
  <div id="page-404">
    <div class="center-block-content">
      <div class="not-found-header m-5">
        <h1>Error 404</h1>
      </div>
      <div class="not-found-content m-3">
        <p>La página a la que intentas ingresar no existe.</p>
      </div>
      <div class="center-block-content return-home m-5 p-2">
        <a
          mat-raised-button
          routerLink="/"
          style="width: 60%"
          class="royal_azure"
        >
          Volver al inicio
        </a>
      </div>
    </div>
  </div>
</section>
