<div class="center-element">
  <mat-card class="center-block-content mat-elevation-z0 user-card">
    <mat-card-header>
      <mat-card-title class="text-center">
        Restablecimiento de contraseña
      </mat-card-title>
      <mat-card-subtitle>
        Digite su nueva contraseña de acceso
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="form-element">
        <mat-form-field appearance="outline">
          <mat-label>Nueva contraseña</mat-label>
          <input
            [type]="hideNewPassword ? 'password' : 'text'"
            matInput
            [formControl]="newPassword"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hideNewPassword = !hideNewPassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideNewPassword"
          >
            <mat-icon
              [matTooltip]="
                hideNewPassword ? 'Mostrar contraseña' : 'Ocultal contraseña'
              "
            >
              {{ hideNewPassword ? "visibility_on" : "visibility_off" }}
            </mat-icon>
          </button>
          <mat-hint> Digite su nueva contraseña de acceso </mat-hint>
          <mat-error *ngIf="newPassword.hasError('required')">
            La nueva contraseña de acceso es obligatoria
          </mat-error>
          <mat-error *ngIf="newPassword.hasError('minlength')">
            Su contraseña de acceso debe tener al menos 5 carácteres
          </mat-error>
          <mat-error *ngIf="newPassword.hasError('maxlength')">
            Su contraseña de acceso no debe tener más de 30 carácteres
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-element">
        <mat-form-field appearance="outline">
          <mat-label>Confirmar nueva contraseña</mat-label>
          <input
            [type]="hideConfirmationPassword ? 'password' : 'text'"
            matInput
            [formControl]="confirmationPassword"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hideConfirmationPassword = !hideConfirmationPassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideConfirmationPassword"
          >
            <mat-icon
              [matTooltip]="
                hideConfirmationPassword
                  ? 'Mostrar contraseña'
                  : 'Ocultal contraseña'
              "
            >
              {{
                hideConfirmationPassword ? "visibility_on" : "visibility_off"
              }}
            </mat-icon>
          </button>
          <mat-hint> Digite su nueva contraseña de acceso </mat-hint>
          <mat-error *ngIf="confirmationPassword.hasError('required')">
            Confirmación de contraseña requerida
          </mat-error>
          <mat-error *ngIf="confirmationPassword.hasError('minlength')">
            Su contraseña de acceso debe tener al menos 5 carácteres
          </mat-error>
          <mat-error *ngIf="confirmationPassword.hasError('maxlength')">
            Su contraseña de acceso no debe tener más de 30 carácteres
          </mat-error>
        </mat-form-field>
      </div>
      <mat-error class="text-center" *ngIf="passwordNotMatch">
        Las contraseñas no coinciden.
      </mat-error>
      <div class="form-buttons">
        <button
          mat-raised-button
          class="royal_azure"
          [appLoadingButton]="updatingPassword"
          [disabled]="updatingPassword"
          (click)="onSubmit()"
        >
          Establecer nueva contraseña
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
