<section class="container">
  <ng-container
    *ngIf="client$ | observableWithStatus | async as obs"
    [ngSwitch]="obs.status"
  >
    <ng-template [ngSwitchCase]="ObsStatus.Loading">
      <div class="center-block-content pt-5">
        <div class="center-flex-content">
          <mat-spinner></mat-spinner>
        </div>
        <h4 class="text-center mt-4 empty-list-text">Cargando cliente...</h4>
      </div>
    </ng-template>
    <ng-template [ngSwitchCase]="ObsStatus.Success">
      <div *ngIf="obs.value as client">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              Información del cliente {{ client.firstName }}
              {{ client.secondName }}
              {{ client.lastName }}
              {{ client.secondLastName }}
            </mat-card-title>
            <mat-card-subtitle>
              Identificación del cliente: {{ client.id }}
            </mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <div class="icon-text-container">
              <mat-icon [matTooltip]="'Nombre comercial y tipo de persona'">
                business
              </mat-icon>
              <span>
                {{ client.tradeName }},
                <span>
                  {{
                    client.clientType == "JuridicPerson"
                      ? "persona jurídica"
                      : "persona natural"
                  }}
                </span>
              </span>
            </div>
            <div
              class="icon-text-container"
              *ngIf="client.clientType == 'JuridicPerson'"
            >
              <mat-icon [matTooltip]="'NIT y razón social'">gavel</mat-icon>
              <span>{{ client.nit }}, {{ client.businessName }}</span>
            </div>
            <div class="icon-text-container">
              <mat-icon [matTooltip]="'Teléfonos de contacto'">phone</mat-icon>
              <span>{{ client.firstPhoneNumber }}</span>
              <span *ngIf="client.secondPhoneNumber">
                , {{ client.secondPhoneNumber }}
              </span>
            </div>
            <div *ngIf="client.firstLandLine" class="icon-text-container">
              <mat-icon [matTooltip]="'Números fijos de contacto'"
                >dialpad</mat-icon
              >
              <span>{{ client.firstLandLine }}</span>
              <span *ngIf="client.secondLandLine">
                , {{ client.secondLandLine }}
              </span>
            </div>
            <div class="icon-text-container" *ngIf="client.clientAddress">
              <mat-icon [matTooltip]="'Dirección del cliente'">place</mat-icon>
              <span>
                {{ client.clientAddress.city }},
                {{ client.clientAddress.neighborhood }},
                {{ client.clientAddress.street }}
              </span>
            </div>
            <div *ngIf="client.contactPeople?.length > 0">
              <h2 class="mt-4">Personas de contacto</h2>
              <div>
                <div
                  *ngFor="let contactPerson of client.contactPeople"
                  style="display: inline-block"
                >
                  <div class="mr-2 ml-2 p-2 contact-people-card">
                    <div class="icon-text-container">
                      <mat-icon>person</mat-icon>
                      <span>{{ contactPerson.name }}</span>
                    </div>
                    <div class="icon-text-container">
                      <mat-icon>phone</mat-icon>
                      <span>{{ contactPerson.phonenumber }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="icon-text-container">
              <mat-icon [matTooltip]="'Estado del cliente'"
                >fact_check</mat-icon
              >
              <span>{{ client.state | clientState }}</span>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-template>
  </ng-container>
</section>
