<section class="container">
  <ng-container
    *ngIf="client$ | observableWithStatus | async as obs"
    [ngSwitch]="obs.status"
  >
    <ng-template [ngSwitchCase]="ObsStatus.Loading">
      <div class="center-block-content pt-5">
        <div class="center-flex-content">
          <mat-spinner></mat-spinner>
        </div>
        <h4 class="text-center mt-4 empty-list-text">Cargando cliente...</h4>
      </div>
    </ng-template>
    <ng-template [ngSwitchCase]="ObsStatus.Success">
      <div *ngIf="obs.value as client">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              {{ client.firstName }}
              {{ client.secondName }}
              {{ client.lastName }}
              {{ client.secondLastName }}
            </mat-card-title>
            <mat-card-subtitle>
              C.C. {{ client.id }}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <app-card-info-item
              [icon]="'business'"
              [title]="'Nombre comercial y tipo de persona'">
              {{ client.tradeName }},
              {{ client.clientType === 'JuridicPerson' ? 'Persona jurídica' : 'Persona natural' }}
            </app-card-info-item>
            <mat-divider inset></mat-divider>
            <app-card-info-item
              [icon]="'phone'"
              [title]="'Teléfonos de contacto'">
              {{ client.firstPhoneNumber }} {{ client.secondPhoneNumber }}
            </app-card-info-item>
            <mat-divider inset></mat-divider>
            <app-card-info-item
              *ngIf="client.clientType == 'JuridicPerson'"
              [icon]="'gavel'"
              [title]="'NIT y razón social'">
              {{ client.nit }}, {{ client.businessName }}
            </app-card-info-item>
            <mat-divider *ngIf="client.clientType == 'JuridicPerson'" inset></mat-divider>
            <app-card-info-item
              *ngIf="client.firstLandLine"
              [icon]="'dialpad'"
              [title]="'Números fijos'">
              {{ client.firstLandLine }} {{ client.secondLandLine }}
            </app-card-info-item>
            <mat-divider *ngIf="client.firstLandLine" inset></mat-divider>
            <app-card-info-item
              [icon]="'place'"
              [title]="'Dirección del cliente'">
              {{ client.clientAddress.city }},
              {{ client.clientAddress.neighborhood }},
              {{ client.clientAddress.street }}
            </app-card-info-item>
            <mat-divider inset></mat-divider>
            <app-card-info-item
              [icon]="'fact_check'"
              [title]="'Estado del cliente'">
              {{ client.state | clientState }}
            </app-card-info-item>
            <mat-divider inset></mat-divider>
            <app-card-info-item
              [icon]="'people'"
              [title]="'Personas de contacto'">
              <span *ngFor="let contactPerson of client.contactPeople" style="display: block">
                {{ contactPerson.name }},  {{ contactPerson.phonenumber }}
              </span>
            </app-card-info-item>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-template>
  </ng-container>
</section>
