<section class="container">
  <ng-container
    *ngIf="serviceRequests$ | observableWithStatus | async as obs"
    [ngSwitch]="obs.status"
  >
    <ng-template [ngSwitchCase]="ObsStatus.Loading">
      <div class="center-block-content pt-5">
        <div class="center-flex-content">
          <mat-spinner></mat-spinner>
        </div>
        <h4 class="text-center mt-4 empty-list-text">
          Cargando solicitudes de servicios...
        </h4>
      </div>
    </ng-template>
    <ng-template [ngSwitchCase]="ObsStatus.Success">
      <div>
        <h1 class="text-center">Solicitudes de servicio</h1>
      </div>
      <mat-divider></mat-divider>
      <div class="pt-3">
        <div *ngIf="serviceRequests?.length <= 0">
          <div>
            <img
              src="/assets/images/relax_people.svg"
              alt="Empty list"
              class="center-block-content"
            />
            <h4 class="text-center empty-list-text">
              No hay solicitudes pendientes
            </h4>
          </div>
        </div>
        <mat-accordion *ngIf="serviceRequests?.length > 0">
          <mat-expansion-panel *ngFor="let serviceRequest of serviceRequests">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span>
                   Solicitud de servicio N° {{ serviceRequest.code }}
                </span>
              </mat-panel-title>
              <mat-panel-description>
                <div class="icon-text-container">
                  <mat-icon [matTooltip]="'Fecha de aplicación'">
                    today
                  </mat-icon>
                  {{ serviceRequest.date | date: "MMMM d, y, h:mm a" }}
                </div>
                <mat-icon
                  color="primary"
                  [matTooltip]="'Click para ver más información'"
                  [matTooltipShowDelay]="300"
                  [matTooltipPosition]="'above'"
                >info
                </mat-icon
                >
              </mat-panel-description>
            </mat-expansion-panel-header>
            <h4>
              Solicitud N° {{ serviceRequest.code }} hecha por el cliente
              identificado con C.C.
              <strong>{{ serviceRequest.clientId }}</strong>
            </h4>
            <span>Con una periodicidad {{ serviceRequest.periodicity | periodicity }}.</span>
            <mat-action-row>
              <a
                mat-button
                class="royal_azure"
                routerLink="/service_requests/process/{{ serviceRequest.code }}">
                Revisar solicitud
              </a>
              <button
                mat-button
                color="warn"
                (click)="rejectServiceRequest(serviceRequest)"
              >
                Rechazar solicitud
              </button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </ng-template>
  </ng-container>
</section>
