<div class="container">
  <div class="calendar-header">
    <div class="calendar-control">
      <button mat-stroked-button class="mr-3" (click)="showCurrentDate()">
        Hoy
      </button>
      <div style="display: inline-block">
        <button
          mat-icon-button
          [matTooltip]="previousMessages[view]"
          (click)="previousDate()"
        >
          <mat-icon>navigate_before</mat-icon>
        </button>
        <button
          mat-icon-button
          [matTooltip]="nextMessages[view]"
          (click)="nextDate()"
        >
          <mat-icon>navigate_next</mat-icon>
        </button>
      </div>
      <ng-container
        *ngIf="activities$ | observableWithStatus | async as obs"
        [ngSwitch]="obs.status"
      >
        <ng-template [ngSwitchCase]="ObsStatus.Loading">
          <div class="loading-option">
            <mat-spinner [diameter]="20"></mat-spinner>
            <span>Cargando actividades...</span>
          </div>
        </ng-template>
      </ng-container>
    </div>
    <div class="calendar-control float-right">
      <button mat-icon-button class="mr-2"><mat-icon>search</mat-icon></button>
      <button mat-stroked-button [matMenuTriggerFor]="menu">
        {{ activityScheduleViewNames[view] }}
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="setView(ScheduleView.Month)">Mes</button>
        <button mat-menu-item (click)="setView(ScheduleView.Week)">
          Semana
        </button>
        <button mat-menu-item (click)="setView(ScheduleView.Day)">Día</button>
      </mat-menu>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="calendar">
    <app-activity-schedule-month
      *ngIf="view == 0"
      #scheduleMonth
      [selectedDate]="selectedDate"
      [activities]="activities"
      (selectDay)="onSelectDay($event)"
    ></app-activity-schedule-month>
    <app-activity-schedule-day
      *ngIf="view == 2"
      #scheduleDay
      [selectedDate]="selectedDate"
      [activities]="activities"
    ></app-activity-schedule-day>
  </div>
</div>
