.calendar-control,
.calendar-header {
  display: inline-block;
}

.calendar-header {
  margin-bottom: 7px;
  width: 100%;
}

.calendar {
  margin-top: 1rem;
}

.different-month {
  color: var(--silver);
}
