<section class="container">
  <div *ngIf="clientRequest">
    <h1 class="text-center">
      Solicitud del cliente {{ clientRequest.firstName }}
      {{ clientRequest.lastName }}
    </h1>
    <hr />
    <h2>
      El cliente
      <strong>
        {{ clientRequest.firstName }} {{ clientRequest.secondName }}
        {{ clientRequest.lastName }}
        {{ clientRequest.secondLastName }}
      </strong>
      identificado con C.C. <strong>{{ clientRequest.id }}</strong
      >.
    </h2>
    <div class="icon-text-container">
      <mat-icon [matTooltip]="'Teléfonos de contacto'">phone</mat-icon>
      <span>{{ clientRequest.firstPhoneNumber }}</span>
      <span *ngIf="clientRequest.secondPhoneNumber">
        , {{ clientRequest.secondPhoneNumber }}
      </span>
    </div>
    <div *ngIf="clientRequest.firstLandLine" class="icon-text-container">
      <mat-icon [matTooltip]="'Números fijos de contacto'">dialpad</mat-icon>
      <span>{{ clientRequest.firstLandLine }}</span>
      <span *ngIf="clientRequest.secondLandLine">
        , {{ clientRequest.secondLandLine }}
      </span>
    </div>
    <div class="icon-text-container">
      <mat-icon [matTooltip]="'Nombre comercial y tipo de persona'"
        >business</mat-icon
      >
      <span>
        {{ clientRequest.tradeName }},
        <span>
          {{
            clientRequest.clientType == "JuridicPerson"
              ? "persona jurídica"
              : "persona natural"
          }}
        </span>
      </span>
    </div>
    <div
      class="icon-text-container"
      *ngIf="clientRequest.clientType == 'JuridicPerson'"
    >
      <mat-icon [matTooltip]="'NIT y razón social'">gavel</mat-icon>
      <span>{{ clientRequest.nit }}, {{ clientRequest.businessName }}</span>
    </div>
    <div class="icon-text-container" *ngIf="clientRequest.clientAddress">
      <mat-icon [matTooltip]="'Dirección del cliente'">place</mat-icon>
      <span>
        {{ clientRequest.clientAddress.city }},
        {{ clientRequest.clientAddress.neighborhood }},
        {{ clientRequest.clientAddress.street }}
      </span>
    </div>
    <h2 class="mt-4">Personas de contacto</h2>
    <div>
      <div
        *ngFor="let contactPerson of clientRequest.contactPeople"
        style="display: inline-block"
      >
        <div class="mr-2 ml-2 p-2 contact-people-card">
          <div class="icon-text-container">
            <mat-icon>person</mat-icon>
            <span>{{ contactPerson.name }}</span>
          </div>
          <div class="icon-text-container">
            <mat-icon>phone</mat-icon>
            <span>{{ contactPerson.phonenumber }}</span>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="form-buttons center-flex-content">
      <button
        mat-raised-button
        class="royal_azure mr-3"
        (click)="acceptClient()"
        [appLoadingButton]="updatingClientRequest"
      >
        Aceptar solicitud de cliente
      </button>
      <button
        mat-stroked-button
        color="warn"
        (click)="rejectClient()"
        [appLoadingButton]="updatingClientRequest"
      >
        Rechazar solicitud de cliente
      </button>
    </div>
  </div>
</section>
