<div class="container">
  <section>
    <div class="center-text">
      <h2>Disponemos de servicios como:</h2>
      <div class="card-columns animated fadeIn fast">
        <div class="card" class="card alert-dark">
          <img src="assets/images/lavado.jpg" class="card-img-top" alt="Card image cap" />
          <div class="card-body">
            <h1 class="card-title"><strong>Lavado y desinfección de tanques de agua</strong></h1>
            <p class="card-text">
              Servicio dedicado al lavado y desinfección de los tanques elevados de agua, ya sea agua potable o para otro uso.
            </p>
            <button type="button" class="btn btn-outline-primary btn-block">
              Solicitar servicio
            </button>
          </div>
        </div>
        <div class="card" class="card alert-dark">
          <img src="assets/images/controlPlagas.jpg" class="card-img-top" alt="Card image cap" />
          <div class="card-body">
            <h1 class="card-title"><strong>Control de plagas</strong></h1>
            <p class="card-text">
              Servicio dedicado al control de plagas como: ratas, cucarachas, mosquitos, ácaros, serpientes, y muchas más.
            </p>
            <button type="button" class="btn btn-outline-primary btn-block">
              Solicitar servicio
            </button>
          </div>
        </div>
        <div class="card" class="card alert-dark">
          <img src="assets/images/saneamiento.jpg" class="card-img-top" alt="Card image cap" />
          <div class="card-body">
            <h1 class="card-title"><strong>Saneamiento de lugares</strong></h1>
            <p class="card-text">
              Servicio dedicado al saneamiento y desinfección de lugares.
            </p>
            <button type="button" class="btn btn-outline-primary btn-block">
              Solicitar servicio
            </button>
          </div>
        </div>
        <div class="card" class="card alert-dark">
          <img src="assets/images/limpieza.jpg" class="card-img-top" alt="Card image cap" />
          <div class="card-body">
            <h1 class="card-title"><strong>Limpieza de espacios</strong></h1>
            <p class="card-text">
              Servicio dedicado a la limpieza de muebles y partes del hogar.
            </p>
            <button type="button" class="btn btn-outline-primary btn-block">
              Solicitar servicio
            </button>
          </div>
        </div>
        <div class="card" class="card alert-dark">
          <img src="assets/images/captura.png" class="card-img-top" alt="Card image cap" />
          <div class="card-body">
            <h1 class="card-title"><strong>Rehabilitación de animales domésticos</strong></h1>
            <p class="card-text">
              Servicio dedicado a la captura y rehabilitación de animales demésticos o fauna silvestre que necesiten cambiar de ecosistema.
            </p>
            <button type="button" class="btn btn-outline-primary btn-block">
              Solicitar servicio
            </button>
          </div>
        </div>
        <div class="card" class="card alert-dark">
          <img src="assets/images/jardineria.jpg" class="card-img-top" alt="Card image cap" />
          <div class="card-body">
            <h1 class="card-title"><strong>Jardinería</strong></h1>
            <p class="card-text">
              Servicio dedicado al cultivo de plantas y cuidado de estas. Asímsimo, fumigación para mantenerlas a salvo de insectos que puedan acabarlas.
            </p>
            <button type="button" class="btn btn-outline-primary btn-block">
              Solicitar servicio
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>