<div class="container">
  <section *ngIf="!serviceRequest">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <div>
            <h1 class="text-center">Formulario de solicitud de servicio</h1>
          </div></mat-card-title
        >
      </mat-card-header>
      <mat-card-content>
        <div>
          <form [formGroup]="serviceRequestForm">
            <div class="form-row">
              <div class="form-col">
                <div class="form-element">
                  <mat-form-field>
                    <mat-label>Fecha de aplicación</mat-label>
                    <input
                      matInput
                      [matDatepicker]="datePicker"
                      formControlName="date"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="datePicker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #datePicker></mat-datepicker>
                    <mat-hint>
                      Elija la fecha en la que quiere la aplicación del servicio
                    </mat-hint>
                    <mat-error *ngIf="controls['date'].hasError('required')">
                      Debe escoger una fecha de aplicación
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="form-col">
                <div class="form-element">
                  <mat-form-field>
                    <mat-label>Hora de aplicación</mat-label>
                    <input
                      type="time"
                      matInput
                      placeholder="Ejemplo 2:00PM"
                      formControlName="time"
                    />
                    <mat-hint>
                      Elija la hora en la que quiere la aplicación del servicio
                    </mat-hint>
                    <mat-error *ngIf="controls['time'].hasError('required')">
                      Debe escoger una hora de aplicación
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="form-element form-select">
              <mat-form-field>
                <mat-label>Servicios a aplicar</mat-label>
                <mat-select formControlName="serviceCodes" multiple>
                  <mat-option
                    *ngFor="let service of services"
                    [value]="service.code"
                  >
                    {{ service.name }} : ${{ service.cost }}
                  </mat-option>
                </mat-select>
                <mat-hint> Elija los servicios a aplicar </mat-hint>
                <mat-error
                  *ngIf="controls['serviceCodes'].hasError('required')"
                >
                  Debe elegir por lo menos un servicio
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-element form-select">
              <mat-form-field>
                <mat-label>Periodicidad</mat-label>
                <mat-select formControlName="periodicity">
                  <mat-option
                    *ngFor="let periodicity of periodicities"
                    [value]="periodicity.type"
                  >
                    {{ periodicity.name }}
                  </mat-option>
                </mat-select>
                <mat-icon
                  matSuffix
                  [matTooltip]="'Como quieres recibir nuestras visitas'"
                  >info_outline</mat-icon
                >
                <mat-hint> Elija la periodicidad de las visitas </mat-hint>
                <mat-error *ngIf="controls['periodicity'].hasError('required')">
                  La periodicidad de las visitas es requerida
                </mat-error>
              </mat-form-field>
            </div>
          </form>
          <div class="form-buttons">
            <button
              mat-raised-button
              class="royal_azure"
              (click)="onSubmit()"
              [appLoadingButton]="savingData"
            >
              Enviar solicitud de servicio
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </section>
  <section *ngIf="serviceRequest">
    <h1 class="text-center">Usted ya tiene una solicitud pendiente</h1>
    <div class="center-block-content text-center">
      <mat-icon
        color="primary"
        class="center-block-content mt-2 text-center mb-2"
        style="width: 70px; height: 70px; font-size: 70px"
        >info</mat-icon
      >
    </div>
    <p class="text-center">
      Por favor, espere nuestra respuesta. Pronto procesaremos su solicitud.
    </p>
  </section>
</div>
