<div class="container">
  <div *ngIf="product">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Información del producto
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Código: {{ product.code }}</p>
        <p>Nombre: {{ product.name }}</p>
        <p>Cantidad: {{ product.amount }}</p>
        <p>Presentación: {{ product.presentation }}</p>
        <p>Precio: {{ product.price | currency: "COP":"symbol-narrow" }}</p>
        <p>Meses de aplicación: {{ product.applicationMonths | monthBit }}</p>
        <p>Descripción: {{ product.description }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
