<div class="container">
  <ng-container
    *ngIf="product$ | observableWithStatus | async as obs"
    [ngSwitch]="obs.status"
  >
    <ng-template [ngSwitchCase]="ObsStatus.Loading">
      <div class="center-block-content pt-5">
        <div class="center-flex-content">
          <mat-spinner></mat-spinner>
        </div>
        <h4 class="text-center mt-4 empty-list-text">Cargando producto...</h4>
      </div>
    </ng-template>
    <ng-template [ngSwitchCase]="ObsStatus.Success">
      <div *ngIf="obs.value as product">
        <mat-card>
          <mat-card-header>
            <mat-card-title> {{ product.name }} </mat-card-title>
            <mat-card-subtitle>
              Código de producto: {{ product.code }}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="icon-text-container">
              <mat-icon [matTooltip]="'Cantidad de producto en inventario'">
                all_inbox
              </mat-icon>
              <span>{{ product.amount }}</span>
            </div>
            <div class="icon-text-container">
              <mat-icon [matTooltip]="'Presentación del producto'">
                assignment
              </mat-icon>
              <span>{{ product.presentation }}</span>
            </div>
            <div class="icon-text-container">
              <mat-icon [matTooltip]="'Precio del producto'">
                monetization_on
              </mat-icon>
              <span>
                {{ product.price | currency: "COP":"symbol-narrow" }}
              </span>
            </div>
            <div class="icon-text-container">
              <mat-icon [matTooltip]="'Meses de aplicación del producto'">
                date_range
              </mat-icon>
              <span>
                {{ product.applicationMonths | applicationMonths }}
              </span>
            </div>
            <div class="icon-text-container">
              <mat-icon [matTooltip]="'Descripción del producto'">
                description
              </mat-icon>
              <span>
                {{ product.description }}
              </span>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <a
              mat-raised-button
              class="royal_azure"
              routerLink="/inventory/products/edit/{{ product.code }}"
            >
              Editar producto
            </a>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-template>
  </ng-container>
</div>
